[2020-02-21 12:25] guidev opened #268 "Lag before showing skeleton"
### What did you do?

Before the skeleton view is showed, for a fraction of a second you can see the underlying views (typically with placeholder text). It doesn't look that great. (See attached video - I've enabled slow animations to make it more visible).

### What did you expect to happen?

Ideally, you shouldn't be able to see the views behind the skeleton.

### What happened instead?

![ezgif

[2020-02-22 07:38] hellodw commented on #211
+1 (occurring for me on UICollectionView)

[2020-02-22 08:17] Juanpe commented on #259
Hi @minaMagedNaeem, version 1.8.6 is ready to use. This version has a change related to trait collection changes, but I don't know if it will solve this issue. Could you check it?

Thanks

[2020-02-22 17:43] minaMagedNaeem commented on #259
No, The issue is still happening

[2020-02-24 08:42] Juanpe commented on #259
Sorry, I can’t reproduce this issue. Could you provide an example with the code with which you are getting this crash, please?

[2020-02-24 08:43] Juanpe commented on #194
@MervinDelfin any update?

[2020-02-24 12:36] Erumaru opened #269 "SkeletonTableViewDataSource numberOfRowsInSection never called"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

Created `UITableView` with `isSkeletonable` set to `true`. All cells and its subview also `isSkeletonable` set to `true`. Implemented SkeletonTableViewDataSource and numberOfRowsInSection in `MyViewController` class. Set `UITableView`'s dataSour

[2020-02-24 15:37] minaMagedNaeem commented on #259
[SkeletonCrash.zip](https://github.com/Juanpe/SkeletonView/files/4245320/SkeletonCrash.zip)

[2020-02-24 15:39] minaMagedNaeem commented on #259
Skeleton view version: 1.8.6
iOS version: 12.4

[2020-02-25 11:18] irfanCheetah commented on #219
@Warwolfer did you find any solution, i am also having same crash

[2020-02-25 11:20] irfanCheetah opened #270 "HideSkeleton causing crash in quickly-switching views"
I used skeletonview in a UItableview, which is called from a page view controller. The skeletonview waits for async API call before hiding the skeleton, but meanwhile user can swipe the page view left and right. Rapidly changing views will cause
"NSInternalInconsistencyException - datasource not set " crash.

If i dont show skeleton it works fine.

SkeletonView version: 1.8.2
Xcode version: 11.2.1

[2020-02-25 11:28] Warwolfer commented on #219
@irfanCheetah unfortunately no, I decided not to use the skeletonview in that particular pageview.

[2020-02-26 23:03] yliu342 commented on #194
I had a similar issue. The Label inside a tableview cell just rendered as a big block of rectangle. I don't use story board or nib but all constraints are added programmatically.

[2020-02-26 23:06] yliu342 commented on #194
The structure for my cell is I have a cell the cell's contentview contains a subview view. All labels imageviews etc are inside this subview.

What I've tried is in the subview's `layoutSubviews` I tried to call `layoutSkeletonIfNeeded` but it does not solve the issue

[2020-02-27 06:14] bagusandinata commented on #259
Hai, I experienced the same thing on iOS 12 @Juanpe . After I tracked it, this happened in version 1.8.3. Thanks

[2020-02-27 08:22] bribar commented on #236
@Juanpe

I have this same issue. Any fix?  Other tables I use with SkeletonView work great with set row heights, but when I use it with a table that row heights can vary, rows will randomly have the SkeletonView still applied after using hideSkeleton().

I have used estimatedRowHeight stated here, IMPORTANT! If you are using resizable cells (tableView.rowHeight = UITableViewAutomaticDimension ), i

[2020-02-27 09:55] byMohamedali commented on #259
Hello,
Have you find a solution ?

[2020-02-27 09:58] Nobin272 commented on #259
I am also facing same issue with DatePicker. Application is crashing with same logs.

[2020-02-27 10:13] bagusandinata commented on #259
The best solution for now used version 1.8.2 @byMohamedali

[2020-02-27 10:39] Nobin272 commented on #259
1.8.2 also i am getting same issue

[2020-02-27 11:45] byMohamedali commented on #259
Thank you  @bagusandinata, it's working on this version, it breaks shimmering on some screen, but at least I don't have the crash,

[2020-02-27 12:23] byMohamedali commented on #259
it seems to works on 1.8.6

[2020-02-28 19:57] mo3bius commented on #253
Hi @Juanpe :) I have a problem with stackview. I tried to set clipsToBound to labels but a label is cutting in half. I also tried to not set clipsToBound but the right label (as you can see in my project) start far from right constraint.

Where am I doing wrong?

Target: iOS 13.2
Pod Version: 1.8.6
[Project sample](https://drive.google.com/open?id=1a4rFgwQ_LbJTlg0CPSK4UDPWBLgMUjSG)

[2020-02-28 21:04] nandogameiro commented on #210
You might need make sure you hideSkeleton before tableview reloadData

[code]

[2020-03-02 03:33] roarapps commented on #259
Also experienced the same in our app, unfortunately released into the wild :( Stacktrace below if it helps

Fatal Exception: NSRangeException
0  CoreFoundation                 0x207437518 __exceptionPreprocess
1  libobjc.A.dylib                0x2066129f8 objc_exception_throw
2  CoreFoundation                 0x2073b0f8c _CFArgv
3  CoreFoundation                 0x207322f14 _CFDataInit
4  UIKitCor

[2020-03-03 09:53] paulanatoleclaudot-betclic commented on #269
showSkeleton should be called on your collection/tableView instead of your view :)

[2020-03-04 00:57] bribar commented on #236
@fotiDim I think I might have found the issue. Are you using reloadData(), I'm assuming so?

I found that you need to hideSkeleton() after you modify your tableview or collectionview datasource(Object) but before you reloadData().

If I didn't do that, some rows Skeletonables would stay on, applying gradients to elements.

[2020-03-04 01:01] bribar commented on #253
@mo3bius check out my comment here https://github.com/Juanpe/SkeletonView/issues/236#issuecomment-594249919

I saw a similar issue with my labels when I didn't have this configured correctly. Might be a fix for you too.

[2020-03-04 15:37] sboh1214 commented on #154
Any update ?

[2020-03-05 06:54] aipinn commented on #269
Me too.

[2020-03-05 12:49] lordzsolt commented on #210
I had the same issue. If you are not skeletonizing the whole table view, but only UITableViewCells that have skeletons inside them, make sure you do hide the skeletons first, before updating anything inside your view.

Ex:
[code]

[2020-03-06 14:00] gueut opened #272 "Animation on UITableViewCell is stopped when ViewController is hidden"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

I implement an app with 2 tabs within a TabBarController, each implementing a TableView of data using the SkeletonViews but once the animation has started if I change tabs and go back to the first one the animation of SkeletonView has stopped.

[2020-03-07 11:28] minaMagedNaeem commented on #259
I'm sorry its out of the issue context, but when I try installing 1.8.2 using this line
' ' '
pod 'SkeletonView', '~> 1.8.2'
' ' '
and pod install
it installs 1.8.6 instead of 1.8.2
how can I get 1.8.2?

[2020-03-07 23:28] #223 closed

[2020-03-08 00:28] #221 closed

[2020-03-08 03:37] onderozcan commented on #71
Doesn't work in tableviewcell too.

[2020-03-08 14:27] minaMagedNaeem commented on #259
I figured it out, the line has to be
pod 'SkeletonView', '1.8.2'

[2020-03-09 10:01] Erumaru commented on #269
@paulanatoleclaudot-betclic thanks for your response, but I call it on collection view.

[2020-03-10 02:34] #237 closed

[2020-03-10 02:34] #228 closed

[2020-03-10 03:34] #204 closed

[2020-03-10 13:05] #97 closed

[2020-03-11 05:31] nunepradeepkumar commented on #259
I am also facing same issue with DatePicker. Application is crashing.

[2020-03-11 06:17] nunepradeepkumar commented on #259
pod 'SkeletonView', '1.8.2'
After i am instilling above pod also app is crashing. is there any alternate solution

[2020-03-11 06:17] nunepradeepkumar commented on #259
pod 'SkeletonView', '1.8.2'
After i am instilling above pod also app is crashing. is there any alternate solution

[2020-03-11 09:58] BurhanDewantara commented on #259
@Juanpe the bug exists on ios simulator 12.2
or for the device 12.3.1 (which is same according to [this](https://developer.apple.com/documentation/ios_ipados_release_notes/ios_12_3_release_notes) )

some of the stack trace are following,

[2020-03-12 03:09] wsalim1610 commented on #259
@Juanpe I mage a pull request that hopefully can fix this crash https://github.com/Juanpe/SkeletonView/pull/275

[2020-03-13 11:41] anoop4real opened #276 "[Documentation] Skeleton view when added programatically in UITableViewCell"
This is not  an issue but an observation. I no longer use storyboards for my view. Today I faced an issue with Skeletonview when I added it to my UITableViewCell, animations, frames everything was working wrong... did a lot of permutation combinations turning the properties `on` and `off`. Finally found that when you add elements in UITableViewCell you should add it to  `contentView `and not to th

[2020-03-13 13:49] #258 closed

[2020-03-13 23:49] #243 closed

[2020-03-14 04:29] trm36 commented on #194
I have this issue too.

[2020-03-16 07:10] tadeha commented on #269
Me too. It doesn't calculate how many cells need to populate the whole table view.

[2020-03-16 13:53] giantramen opened #277 "Collection View Hide Skeleton Bug - iOS 12.4"
### What did you do?

collectionView.showAnimatedGradientSkeleton()

Then after loading data
collectionView.hideSkeleton()

### What did you expect to happen?

Skeleton hides.

### What happened instead?

![Simulator Screen Shot - iPhone 8 - 2020-03-16 at 08 50 23](https://user-images.githubusercontent.com/10697351/76764700-4a0cd680-6763-11ea-84ef-c435b48e123c.png)
The skeleton doesn't go away.

#

[2020-03-17 13:14] aipinn commented on #269
Boys, I resolved it. I used vc addsubview tableView.

1. First, you must set vc.view.isSkeletonable = true
2. Second, for tableView must use estimatedRowHeight.

[code]

[2020-03-17 13:17] aipinn commented on #269
Boys, I resolved it. I used vc addsubview tableView.

First, you must set vc `self.view.isSkeletonable = true`
Second, for tableView must use estimatedRowHeight.
[code]

[2020-03-18 20:15] lazyvar commented on #259
That PR fixed the issue for me.

[2020-03-21 16:01] pennywise94 commented on #276
This might be relevant for you:
https://github.com/Juanpe/SkeletonView/issues/125

[2020-03-23 13:26] odanu commented on #268
We are experiencing the same issue.

[2020-03-23 13:32] michelleGerges commented on #259
I have downgraded to 1.8.2 but the crash still exist
any updates ?

[2020-03-24 14:16] DiwakarThapa opened #278 "How to autoreverse skeleton slide animation ?"
I wanted to set **autoreverses** to true in **CAAnimationGroup** of the **makeSlidingAnimation** function.  I wrote following code in animation closure but did not got desired result.
[code]

[2020-03-26 16:52] daviskoh-hiatus commented on #75
still an issue in `1.8.6`

[2020-03-27 12:50] wcwynn commented on #193
@Juanpe If its useful, I confirmed that the workaround that @Levivig used in his example worked for me as well.  Here's a link to his code again which may help suggest a solution:  https://github.com/Juanpe/SkeletonView/pull/198/files#diff-6c59b1dd1e6e1989f714b8f19ea1d730

[2020-03-27 17:25] macistador opened #279 "Support of iOS 13 DiffableDataSource"
Hi

Do you plan to support iOS 13 new UICollectionViewDiffableDataSource ?

Thanks

[2020-03-29 07:22] kerry opened #280 "Swift 5.2 compatibility"
### What did you do?

Updated to Xcode 11.4 and built the project

### What did you expect to happen?

Successful build

### What happened instead?

Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2 compiler error for import SkeletonView

### Steps to reproduce the behavior

Update to Xcode 11.4 and try to build with Skeleton as a dependency via cocoapods

### SkeletonView Envir

[2020-03-30 05:15] adamallard opened #281 "UILabel appearing as one block"
[code]

The Skelton just appears as one block.

**SkeletonView version:**
**Xcode version:**
11.3.1
**Swift version:**
swift 5

[2020-03-30 09:51] kidS2ran opened #282 "Tableview alway show header and footer Skeletonview when call showAnimatedGradientSkeleton"
when i call showAnimatedGradientSkeleton

tableview alway show header and footer how can i remove

### SkeletonView Environment

**SkeletonView version:** lastest
**Xcode version:** 11.4
**Swift version:** 5

[2020-03-30 20:02] OmarJalil commented on #270
I was going to write the exact same thing! Sometimes it's crashing after a couple of screens after.

[2020-03-31 00:04] trekirkman commented on #259
Also experiencing this crash, and tried versions 1.8.2-1.8.6 to resolve. Steps to reproduce were similar: pushing date picker after skeleton view was already in view hierarchy.

After some investigation the crash occurs in `SubviewsSkeletonables.swift` line 17 when accessing `visibleCells`. Removing call to visibleCells resolved the crash, but unsure of best solution going forward.

[2020-03-31 00:11] lazyvar commented on #259
@trekirkman The fix was merged to master, but not released. It is not in 1.8.6. I configured cocoapods to use the git URL as source rather than the version number tag. Not sure what's holding up a minor/patch bump.

[2020-03-31 01:49] #253 closed

[2020-03-31 07:38] Juanpe commented on #259
Hi all, version 1.8.7 has been released :) sorry for the delay

[2020-03-31 09:23] RolandasRazma commented on #259
can confirm 1.8.7 fixes crash

[2020-03-31 22:21] oguzveozturk opened #283 "Whole Cell is covered animation(Programmatically Solved!!)"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

<a href="https://ibb.co/zZvc5hG"><img src="https://i.ibb.co/GRSwJvc/Ekran-Resmi-2020-04-01-00-22-24.png" alt="Ekran-Resmi-2020-04-01-00-22-24" border="0"></a>
`import UIKit
import SkeletonView

class ViewController: UITableViewController, Skelet

[2020-04-01 13:47] #210 closed

[2020-04-01 15:10] oguzveozturk commented on #283
Solved issue;
when you writing programmatically; view objects should not be added to cell. Should be added to cell's contentView. (as it shows in the pic below)
@Juanpe
you must add this information to the "How to use" because there are lot of people who encounter the same problem while writing programmatically.

<a href="https://imgur.com/a/ij0TE4d"><img src="https://i.imgur.com/c4Z6pDD.jpg" alt=

[2020-04-01 15:10] #283 closed

[2020-04-02 17:49] BrentMifsud commented on #259
I am having this issue as well on 1.8.6.

Has 1.8.7 been pushed to cocoapods yet? I dont see an update available.

[2020-04-02 18:10] michelleGerges commented on #259
the crash not existing on 1.8.7

[2020-04-08 13:14] mohsinalimat opened #284 "Not working shimmer"
hello,

- Not working :- When I build my projects with Xcode 11.4 shimmer not appear.
![Simulator Screen Shot - Build on Xcode 11 4 version shimmer not appear iPhone 11 Pro Max - 2020-04-08 at 18 40 41](https://user-images.githubusercontent.com/973676/78788044-df009980-79c8-11ea-9ceb-6d28962baee5.png)

- Working:- When I build my projects with Xcode 11.3 shimmer appear.
![Simulator Screen Shot - B

[2020-04-08 16:07] CameronHamidi opened #285 "Gradient transition animation not as deep in dark mode"
### What did you do?

I created a `skeletonable` view in my app, and set `SkeletonAppearance.default.tintColor` to `.clouds` and `SkeletonAppearance.default.gradient` to `SkeletonGradient(baseColor: .clouds)`. I then ran the app in both dark mode and lite mode and compared the gradient animations.

### What did you expect to happen?

I expected the view to look the exact same in dark mode and lite

[2020-04-09 07:07] mohsinalimat commented on #284
self.view.isSkeletonable = true

When I used above line with below line then work fine.

[2020-04-09 13:43] mahmoudOmara commented on #277
I 'm facing same issue. Did you find solution to it

[2020-04-09 14:16] giantramen commented on #277
I did not find a solution.

[2020-04-10 06:23] #194 closed

[2020-04-10 06:35] Lrosasarce commented on #277
Hello, the same thing happened to me, I hope it works for you.
In my case it was because the animation started in viewDidLoad, I put it in viewDidAppear and it was solved, but clarifying that the bug only plays for ios versions less than 13.

[2020-04-12 01:33] mahmoudOmara commented on #277
I tried it and the skeleton sometimes doesn't hide. I work around the issue by calling hide skeleton in cell for item while configuring the cell.

[2020-04-18 01:24] adelbios commented on #268
any update ؟! I am facing the same problem

[2020-04-18 15:02] adelbios commented on #211
Not working yet

[2020-04-20 10:35] adelbios commented on #268
@Juanpe

[2020-04-23 17:25] Elshad commented on #277
@giantramen after adding `showAnimatedSkeleton` to `prepareSkeleton` closure bug fixed (I tested on iOS 11)
[code]

[2020-04-29 11:07] finetuning-mg commented on #269
Same problem here with 1.8.6 and 1.8.7. Fixed by reverting to version 1.8.5.
I am on Xcode 11.3.1 and Swift 5.1

[2020-04-29 17:33] pabitranjan13 opened #287 "UICollectionView loading skeletonview is producing error"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

*Please replace this with what you did.*

### What did you expect to happen?

*Please replace this with what you expected to happen.*

### What happened instead?

*Please replace this with of what happened instead.*

### Steps to reproduce the b

[2020-05-03 20:04] adelbios opened #288 "DataSource is in correct and lag before show animated"
We have two problems, the first is the lag before the skeleton is shown, and the second is that when the skeleton is shown again the arrangement of the data is different meaning is incorrect , the next video explain the weird issue

[2020-05-05 11:19] beaneyios commented on #206
This is not fixed. Same issue here - tried `numberOfLines = 0`, `numberOfLines = 1`, `numberOfLines = 15`, still just shows a big rectangle.

[2020-05-05 12:47] tsangaris opened #289 "UICollectionView with Header, cell, footer"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

I have a UICollectionView that has a Header, cells and a Footer.

The header and the cells have data that are coming from Firebase. So I want to have the SkeletonView show up until the data are retrieved.

In the documentation says that our coll

[2020-05-07 20:11] pabitranjan13 opened #290 "Issue in loading UICollectionElementKindSectionHeader in collection view"
### SkeletonView Environment

**SkeletonView version:**1.8.7
**Xcode version:** 11.4.1
**Swift version:** 5

[2020-05-11 17:35] barankaansert opened #291 "Whole Skeleton animations is gone with XCode 11.4.1"
SkeletonView was working on existing project and source code has no changes, when xcode updated, all working animations re gone.

I tried older versions of pods but nothing works, pls help.

Thanks

SkeletonView version: 1.8.7
Xcode version: 11.4.1
Swift version: 5

[2020-05-12 16:43] Mukul13cs002 commented on #284
struct Photo: Codable {
    let albumID, id: Int
    let title, url, thumbnailURL : String

    enum CodingKeys: String, CodingKey {
        case albumID = "albumId"
        case thumbnailURL = "thumbnailUrl"
        case id, title, url
    }
}

class PhotosController: UITableViewController {

    private var dataSource: [Photo] = []

    override func viewDidLoad() {
        super.viewDidLoad()

[2020-05-12 16:45] Mukul13cs002 commented on #284
`struct Photo: Codable {
    let albumID, id: Int
    let title, url, thumbnailURL : String

    enum CodingKeys: String, CodingKey {
        case albumID = "albumId"
        case thumbnailURL = "thumbnailUrl"
        case id, title, url
    }
}

class PhotosController: UITableViewController {

    private var dataSource: [Photo] = []

    override func viewDidLoad() {
        super.viewDidLoad()

[2020-05-14 09:56] NikitaAsabin commented on #291
@barankaansert,  I had the same issue, check that view where you show skeleton is `view.isSkeletonable = true`

[2020-05-15 11:34] barankaansert commented on #291
thanks for your help, interface builder's isSkeletonable wasnt works correctly, this way is solved .

[2020-05-15 19:12] wcwynn commented on #277
Some issues with tableviews not hiding and not hiding animated seem to be due in part to the changes to the `setOpacity` method that were introduced here:

https://github.com/Juanpe/SkeletonView/commit/2f2e542d51e4ce213439e051ad913a89d58fd36e#diff-9eb1f0cbab2c306e2cdd6b5ca5d7df0cL142

Either removing the `DispatchQueue.main.async {}` code that was introduced or putting the entire implementation wi

[2020-05-18 02:25] wcwynn commented on #277
@Juanpe I think there may be a minor issue with the `setOpacity` method... at least for table views. See previous comment (https://github.com/Juanpe/SkeletonView/issues/277#issuecomment-629431593).

Do you recall why that code change was required as part of the bug fix?  Specifically, why the things needed to be scheduled as 3 different async tasks instead of 1? Or why they needed to be async at a

[2020-05-25 10:12] AprilYoungs commented on #282
@kidS2ran I got the same issue, if you don't have section header or footer, don't use this protocol `SkeletonTableViewDelegate`, and the header and footer will be gone

[2020-05-27 17:20] gunapandianraj opened #293 "Skeletonview UITableview datasource in not getting deallocated."
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

Pushed a UIViewcontroller containing a table view with enabled skeletonview  and started animating it on viewdidload and stopped when a task get finished and popped the viewcontroller from navigation stack by tapping back button

### What did yo

[2020-05-28 08:08] mywristbands opened #294 "Setting UITableViewHeaderFooterView as skeletonable triggers background color error message"
### What did you do?

I did this (simplified and abstracted a bit for clarity):
[code]

### What did you expect to happen?

I expected my header to display in the skeleton after I run `view.showAnimatedGradientSkeleton()`, with no error messages in the Xcode terminal.

### What happened instead?

The header did display in the skeleton correctly, however I received the following error message in th

[2020-06-01 01:51] gsbernstein commented on #146
@whoyawn @JMCPH I found it in our code:
[code]
and the recursive stuff
[code]

[2020-06-01 06:00] ruby109 commented on #226
Same issue.

[2020-06-01 12:41] jinthislife opened #295 "SkeletonView for tableView not displayed correctly"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

I'm using SkeletonView for my tableVeiw in custom UITableViewController and its tableViewCell looks like this.

<img width="416" alt="Screen Shot 2020-06-01 at 4 10 17 pm" src="https://user-images.githubusercontent.com/8064873/83409294-7af1d300-

[2020-06-01 16:04] gsbernstein commented on #58
any updates? It doesn't look like the podspec has a subspec yet.

[2020-06-03 00:00] updev0612 commented on #103
In compositional layout, I guess it does not work. I followed Video tutorials but There is no solution.
my issue like this. 020-06-03 02:49:54.822341+0300 Mealz[33863:697211] [UICompositionalLayout] note: the section invalidation handler cannot currently mutate visible items for layouts containing estimated items. Please file an enhancement request on UICollectionView.
(0.0, 0.0)
2020-06-03 02:49:

[2020-06-03 07:10] ldt25290 commented on #226
Same issue here on 1.8.6 and 1.8.7.

[2020-06-03 07:39] ldt25290 opened #296 "The tableview cell does not show correct data after pressing Hide Skeleton"
### What did you expect to happen?
How to show correct data on tableview cell after hiding skeleton animation?
### Steps to reproduce the behavior
Open library example project, modify cellForRowAt method as below button on screen:
[code]
The result is as below after pressing Hide Skeleton button:
<img width="2294" alt="Screen Shot 2020-06-03 at 14 27 07" src="https://user-images.githubusercontent.

[2020-06-05 15:15] SaezChristopher commented on #272
I have the same problem

[2020-06-05 21:13] DedicatedDev commented on #290
func collectionView(_ collectionView: UICollectionView, viewForSupplementaryElementOfKind kind: String, at indexPath: IndexPath) -> UICollectionReusableView {
        }

please return correct header identifier in this method.

[2020-06-08 08:25] ramesh09ios opened #297 "TableView cell have a collection view bottom cell stills gradient view not removed when scroll upwards"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?
Implement table view cell contain collection view Skelton view removing visiable cells but bottom cells have still Skelton view.
*Please replace this with what you did.*

### What did you expect to happen?

*Please replace this with what you expe

[2020-06-08 10:29] ANBlock commented on #4
@GreatLiyi  Maybe you can see [TABAnimated](https://www.github.com/tigerAndBull/TABAnimated).

[2020-06-08 12:25] mohammed-shakeer commented on #272
Are you calling showSkeleton() again in viewWillAppear when you switch tab ?

[2020-06-10 02:32] jinthislife commented on #295
I resolved this issue.

I thought I need dummy tableView cells to display Skeleton before json loading is completed.
So I returned dummy cell count 5 in
[code]
When I tried without dummy count, skeleton works pretty well.

[2020-06-10 02:33] #295 closed

[2020-06-11 21:30] diriarte1 opened #298 "UICollectionView iOS12 animates all the view itself"
### What did you do?

I'm using SkeletonView for a project, the problem is that collectionView doesn't seem to work properly in iOS12, the problem is that the skeletonAnimation also animates itself not only the content, if I put collectionView isSkeletonable to false the animation is not going to happen anytime.

### What did you expect to happen?

UICollectionView to work on iOS12 as good as on i

[2020-06-19 05:45] mkval commented on #269
Alright. So if you're subclassing directly from `UITableViewController`, you somehow need to explicitly set this controller as the `dataSource` of the `tableView`.

Without this, when you set a breakpoint at line 35 of the file `UITableView+CollectionSkeleton`, `guard` always fails because it detects that your `dataSource` is of type `_UIFilteredDataSource` and not `SkeletonTableViewDataSource`.

[2020-06-19 06:03] mkval commented on #269
Got the same issue. But instead of composing my own custom TableViewController (`UIViewController` + `UITableView`), I instead opted to subclassing `UITableViewController`. So somehow, you need to explicitly set this controller as the `dataSource` of the `tableView` to make SV work.

[code]

Without this, when you set a breakpoint at line 35 of the file `UITableView+CollectionSkeleton`, `guard` al

[2020-06-25 17:41] OmarJalil opened #299 "HideSkeleton doesn't hide all tableView cells"
### What did you do?

I have this code that makes an API call and hides the skeleton view inside reloadUI
[code]

My reloadUI method
[code]

### What did you expect to happen?

All cells should be hiding

### What happened instead?

Instead, just some cells hid.
Actually all the views you are looking at, are cells (where view.hideSkeleton() worked). The first one, the account one, the ranking one,

[2020-06-27 11:13] alouanemed commented on #58
The progress is stopped in this comment: https://github.com/Juanpe/SkeletonView/pull/118#issuecomment-446918804 I can't find the branch mentioned there.

[2020-06-30 15:04] seanperez29 commented on #279
I am also very curious if support for this is coming.

[2020-07-01 08:28] huylv-teko commented on #226
same problem here, why this issue closed :(

[2020-07-01 17:53] aksimomar commented on #259
nop 1.8.7 still happening

2020-07-01 18:47:56.323559+0100 Baims Stagging[34181:1043055] *** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 2 beyond bounds [0 .. 1]'
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001129b61cb __exceptionPreprocess + 171
	1   libobjc.A.dylib                     0x000000011

[2020-07-03 17:06] ricardoisidro opened #300 "Multiple errors after install 1.8.6 using Cocoapods"
# What did you do?

Install SkeletonView on my project with Cocoapods and build the project.

### What did you expect to happen?

Build the project even if SkeletonView is not used yet.

### What happened instead?

Some errors occurs and project cannot be builded.

![image](https://user-images.githubusercontent.com/26470470/86487913-fed3ff00-bd24-11ea-9a81-6443db1f60e6.png)

### Steps to reproduce

[2020-07-06 07:32] avjiang commented on #299
For my case, after reloading data, random skeletonView in random indexPath still shown

[2020-07-07 17:56] phynet commented on #300
Hi, it's a strange thing for sure, even when you're telling you're using swift version 4.2 the compiler says otherwise. Did you use the migrator tool recently?

Have you tried any of these:
1.- I'm assuming you have installed the pod in a project started from scratch. Did you open `.xcworkspace` instead of `xcodeproj`, right?
2.- Try to do a clean and delete derived data and open the project again

[2020-07-08 05:29] nabs107 commented on #141
Says No preview available. File is in owner's bin.

[2020-07-09 20:59] VikashIOS opened #301 "Automatically hide skeleton when application coming from background to foreground"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

*turn off the internet and run the app showing the skeleton view but when I put the app in the background and switch to the new app then again opening my app skeleton view hide automatically and showing storyboard dummy UI.*

### What did you ex

[2020-07-09 22:51] ricardoisidro commented on #300
Solved!

The problem was inside podfile `post_install` script, because `SWIFT_VERSION` `build_setting` was being overwritten to 4.0.

[code]
After change it to 4.2, everything worked fine.

[2020-07-09 22:51] #300 closed

[2020-07-10 06:06] phynet commented on #300
Good to hear, the compiler usually knows what he’s doing 😆

[2020-07-10 16:40] Semty commented on #279
It's strange that there has not been any answer on the issue since March.
@Juanpe, could you, please, response

[2020-07-12 10:58] X901 opened #302 "'NSInternalInconsistencyException', reason: 'Invalid update when delete all"
Hi ,
I have problem

My code download everything and save it on Realm

I have button that will delete everything (Reset button , so I can download everything again)

when I delete everything I got this error

### Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of rows in section 0. The number of rows contained in an existing sec

[2020-07-12 18:45] inickt opened #303 "Single Line Customization"
Hey @Juanpe! Thanks for making such a great library - its been been basically perfect for me.

Just had one bug/feature request. It looks like in https://github.com/Juanpe/SkeletonView/pull/195 there were some changes to customizing single line made, but this was backed out in commit https://github.com/Juanpe/SkeletonView/commit/65299378c49e97ce7f6e3213a0527cdc72182b4a it seems. Was this an intent

[2020-07-15 22:50] phynet commented on #291
Of this issue is fixed, may I ask you to close it, please.

[2020-07-16 12:05] #291 closed

[2020-07-16 23:39] JohnnyXplor opened #305 "Having issue with large title and pull to refresh from a table view"
Hey guys thanks for the wondering work! I have been experiencing an issue related to large title and pull to refresh. Any help will be appreciated!

⚠️ Please fill out this template when filing an issue.

#### I didn't find existing issues related with yours.*

### What did you do?

*I enabled large title on the navigation bar. Also the view controller has a table view with pull to refresh and ske

[2020-07-18 08:45] adelbios commented on #279
@Juanpe hello ?! Please response on this issue

[2020-07-18 12:40] p-nicolaou opened #306 "Shimmering on existing image"
Is it possible to add the shimmering effect on an existing `UIImageView`? My hierarchy is as follows:
UIViewController
  |- WKWebView
  |- UIImageView (shimmering)

If possible, how can I achieve this? Should I include image in another container? Which one should be skeletonable?

[2020-07-22 19:29] ricardoisidro commented on #206
Same, I had to replace labels for textViews in order to overcome this problem.

[2020-07-24 01:33] greatsk55 opened #309 "when i called btn.showAnimatedSkeleton(), UIButton can't hide text"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

I want to showanimatedSkeleton to a UIButton.

### What did you expect to happen?

When I called btn.showAnimatedSkeleton(), I expected it to be animated like any other view.

### What happened instead?

Skeleton animation was the same, but the

[2020-07-27 12:10] arishanapalli opened #310 "Errors after compilies the SkeletonView."
After sucessfully included the cocoa pods into my project received this Erros.

[code]

Error: Type of expression is ambiguous without more context

    public var complementaryColor: UIColor {
        if #available(iOS 13, tvOS 13, *) {
            return UIColor { traitCollection in
                return self.isLight() ? self.darker : self.lighter
            }
        } else {
            retu

[2020-07-28 13:50] tbaranes commented on #279
`SkeletonView` is currently working with `DiffableDataSource` when setting false to `reloadDataAfter` when hiding skeleton view. I did nothing special beside that in order to have a working skeleton tableview

[2020-07-28 19:15] ivensdenner commented on #296
I'm facing the same problem!

I'm updating an `UILabel`'s `text` and `textColor` property while `isKeletonActive == true`. But when the skeleton is hidden, the data is replaced by the old values on `recoverState` method.

Is there some way to update the saved state of UILabel or something like that?

[2020-07-30 00:10] Semty commented on #279
@tbaranes Hi! What do you mean by "is currently working"? As far as I know, you need to implement SkeletonCollectionViewDataSource to make it work with UICollectionView

[2020-07-30 06:57] tbaranes commented on #279
Exactly, you need to inherit from `UITableViewDiffableDataSource` and conforms to `SkeletonTableViewDataSource`. In my case I was using a tableview, but the process is similar for a collection view.

[code]

Doing this  will make skeleton working but as said before when hiding the skeleton you will need to set `reloadDataAfter` to false, otherwise the skeleton won't be hidden:

[code]

[2020-08-02 12:36] BasselEzzeddine commented on #268
Use `showAnimatedGradientSkeleton(transition: .none)` to avoid the lag. It's a delay coming from the default transition.

[2020-08-09 17:11] QianKaiLu commented on #299
Do not use same resuseId with skeleton cell.

[2020-08-11 00:02] jsahoo commented on #296
+1 same issue. There's definitely a bug here that needs to be fixed but in the meantime a workaround is to hide the skeleton with no animation. It's a bit harsh (visually) but at least your labels will load properly:

`hideSkeleton(transition: .none)`

[2020-08-11 14:55] Lihuo commented on #276
@anoop4real , you save me a lot of time 👍

[2020-08-17 06:54] AlexPinhasovSelina opened #315 "Crash - [__NSArrayM objectAtIndex:]: index 2 beyond bounds [0 .. 0"
### What did you do?

Dont know why it happened, I got crash reports from firebase crashlytics

### What did you expect to happen?

Not to crash

### What happened instead?

crash

### Steps to reproduce the behavior

Not sure how
Maybe a cell was removed while being animated, and when calling isSkeletonActive the model of views didnt change and the count was incorrect, just an assumption

### Ske

[2020-08-17 18:04] imWalsh commented on #299
+1

[2020-08-18 22:39] matthewscalf opened #316 "on view loadViewModel"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?

*Please replace this with what you did.*

### What did you expect to happen?

*Please replace this with what you expected to happen.*

### What happened instead?

*Please replace this with of what happened instead.*

### Steps to reproduce the b

[2020-08-24 12:25] mortenholmgaard commented on #296
Same case with view outside tables:
`emailLabel.hideSkeleton(transition: .crossDissolve(0.25))`
v. 1.8.7
@Juanpe please have a look at this.

[2020-08-27 06:56] JLEdevelop opened #317 "Carthage import not working properly"
### What did I do?

I tried to import SkeletonView framework with Carthage to a new project.

### What did I expect to happen?

Test if I can access to the Inspectable elements from the storyboard options

### What happened instead?

I can import programmatically the framework and use it but nothing related to this framework appears in the storyboard

### Steps to reproduce the behavior

1- Create

[2020-08-27 08:49] Juanpe commented on #317
Hi @JLEdevelop, there seems to be a problem with that. It should be solved with PR #292, so it will be available in the next version.

We will let you know when the next version comes out :)

[2020-08-27 08:57] JLEdevelop commented on #317
Im glad to hear that! Thank you

[2020-08-27 09:46] Juanpe commented on #317
Version 1.8.8 has been released, could you check if your problem is solved, please?

[2020-08-27 10:08] JLEdevelop commented on #317
Thank you!

I updated the clean project that i´d created for testing and didnt work but
creating a new one did it.
I don´t really know why it doesn´t work in an existing project but at least
now importing skeletonView with Carthage works fine.

PD. I will continue looking for some way to fix my main project so if you
have some crazy idea about this problem I would appreciate it hahaha

El jue., 27

[2020-08-27 10:44] JLEdevelop commented on #317
My main project got updated and works fine.
I don't really know what is the difference between the test one and this
one, but it doesn't really matter.

Once again, thank you very much for your time and your quick response.

I will recommend your work as much as possible :)

El jue., 27 ago. 2020 a las 12:07, J.L.E Trabajos (<jltrabajo18@gmail.com>)
escribió:

[2020-08-27 14:01] #317 closed

[2020-08-28 15:56] Juanpe commented on #309
Hi @greatsk55 ,

Could you give me more details about your problem? I've checked and the skeleton appears and the text is out...
![button_skeleton](https://user-images.githubusercontent.com/1409041/91549330-0da2f080-e927-11ea-8cc3-5e82fe5fe9d3.gif)

[2020-08-29 05:24] ricardoisidro opened #318 "Custom animation on showAnimatedSkeleton not working"
### What did you do?

Trying to create a showAnimatedSkeleton, where solid color animation change from one color to another:

### What did you expect to happen?

Views displaying custom backgroundColor CAAnimation.

### What happened instead?

Skeletonable views take default color (clouds) while animation is on, and custom animation is ignored.

### Steps to reproduce the behavior

1. Implement sh

[2020-08-31 16:08] xpereta commented on #303
I also would like to customize single line views as UILabel, and could lend a hand here. As a workaround I'm using using the skeletonPaddingInsets property to adjust the height of the skeleton.

[2020-09-01 07:16] Juanpe commented on #318
Hi @ricardoisidro, I'm going to check it ASAP, let you know when I've more details

[2020-09-01 08:40] hrool20 commented on #309
I have the same problem. I'm using XIB's and I have this structure.

<img src="https://user-images.githubusercontent.com/13945077/91826608-70380d00-ec03-11ea-9170-26d1735cf109.png" alt="" height="400">

I'm not using custom buttons and inside **viewDidLoad()** function, I'm calling:

[2020-09-01 17:00] Juanpe commented on #303
Hi! 👋

I'm going to check this issue, maybe this code was removed wrongly :/

Let's you know when I give more details about

[2020-09-01 17:00] Juanpe commented on #303
BTW, any help is welcomed :)

[2020-09-01 18:22] Juanpe commented on #303
Hi, you were right. The feature was broken :/

The next version will contain this fix. Meanwhile, you can point your pod dependency to the `develop` branch.

[2020-09-01 18:29] #303 closed

[2020-09-01 19:06] inickt commented on #303
Thank you, really appreciate your work and maintaining the project!

[2020-09-02 06:38] Juanpe commented on #315
Hi @AlexPinhasovSelina, this bug was fixed in version 1.8.7. Please update your dependency and check if it's fixed 👍

[2020-09-02 12:04] Kharauzov commented on #277
@Elshad solution did a trick for me. Thx!
`prepareSkeleton` is an extension from UICollectionView, so it's supposed to prepare a collectionView for Skeleton manipulations👌🏻

[2020-09-04 17:28] RuiAAPeres commented on #281
I am also seeing this issue.

[2020-09-04 21:50] normand1 opened #321 "Does not work with new UICollectionView Compositional Layout"
⚠️ Please fill out this template when filing an issue.

#### 🙏🏼 *Please check if it already exists other issue related with yours.*

### What did you do?
Implemented a UICollectionView using the new Compositional Layout feature.

Then added this to viewDidLoad()
[code]

### What did you expect to happen?
Expected to see the skeleton view applied to the UICollectionView

### What happened instead?

[2020-09-07 14:17] Juanpe commented on #316
Hi,

Please, could you provide more info about your issue? Thanks

[2020-09-07 14:33] Juanpe commented on #321
Hi @normand1, I need to check it, but I think we should make some changes to make SkeletonView compatible with the new Compositional layout system

[2020-09-07 14:37] Juanpe commented on #277
Thanks @wcwynn for the research. Let me check it

Let's you guys when I have more info about that.

[2020-09-07 15:46] matthewscalf commented on #316
This can be closed, it was open on accident.

[2020-09-07 15:46] #316 closed

[2020-09-07 15:51] adelbios opened #322 "Diffable dataSource"
Can you support a new logic of apple that used on ios 13 tableView and collectionView diffableDataSource*

[2020-09-07 16:16] Juanpe commented on #316
Thanks

[2020-09-08 08:49] Juanpe commented on #322
Hi @adelbios, this would be nice. Added to the backlog

[2020-09-08 08:51] Juanpe commented on #309
Hi! I'm checking this issue but I need more info about it. Which Xcode version and iOS are you using?

[2020-09-08 12:00] Juanpe commented on #318
Hi @ricardoisidro, after reviewing your code I found why your code is not working.

The problem is that the custom animation is setting the background color of the layer. The background color type is a `CGColor`, so you must set both `fromValue` and `toValue` as `CGColor`. If not, the animation doesn't work.

Your code should look like this:

[code]

The result is this:
![skeleton](https://user-im

[2020-09-08 12:14] Juanpe commented on #310
Hi @arishanapalli , sorry for the late response.

In your case, the last version compatible with you IDE is version 1.8.3

To use this version you must to specify it in the **Podfile**, if you are using **Cocoapods**
`pod 'SkeletonView', '= 1.8.3'`

[2020-09-08 12:17] Juanpe commented on #306
Hi @p-nicolaou, yes, it's possible. You can show the skeleton in the view you want. I mean, if the UIImageView is skeletonable (`isSkeletonable = true`), the image can directly trigger the skeleton: `image.showSkeleton()`

[2020-09-08 12:18] Juanpe commented on #281
Hi! I'm investigating it

[2020-09-08 12:20] Juanpe commented on #322
Duplicate of #279

[2020-09-08 12:21] #322 closed

[2020-09-08 12:22] Juanpe commented on #296
Hi guys, I'm going to investigate. Let's you know when I've more info about that

[2020-09-08 12:24] Juanpe commented on #299
Hi guys. Investigating

[2020-09-08 12:38] Juanpe commented on #276
Hi, good idea I'm going to specify this in the README file. More people could be having this problem

[2020-09-08 13:12] RuiAAPeres commented on #281
![](https://media.giphy.com/media/dXckBa1HDG86RqUh19/giphy.gif)

[2020-09-08 22:34] hrool20 commented on #309
I'm using:
Xcode version: `11.6`.
Swift versión: `Swift 5`.
Minimum iOS version: `11.0`.

I was researching and it seems that now when you add a layer on a button, it is added after de text. I'm not sure if it's because of the Swift version or Xcode version, but previously the layer was added before the text.

[2020-09-09 11:48] Juanpe commented on #296
I'm reviewing that, but you can swap the execution of the methods. I mean, your code would look like that:
[code]

[2020-09-09 15:35] #309 closed

[2020-09-09 15:41] Juanpe commented on #309
I've merged a PR solving this problem. This fix will be available in the next version. Meanwhile, you can set the `SkeletonView` dependency line to point to the `develop` branch.

*Podfile*
`pod 'SkeletonView', :git => 'https://github.com/Juanpe/SkeletonView.git', :branch => 'develop'`

Anyway, I'd like to release the next version at the end of this week :)

[2020-09-10 11:33] slashmo opened #325 "Use gender-neutral pronoun in repo description"
Great job on the README, looks very polished 👍 I noticed that in the repo description you’re using the pronoun he as opposed to a gender-neutral “they”. I propose to change it to the following:

[2020-09-10 12:36] Juanpe commented on #325
Hi @slashmo!

Good catch 🤙 I didn't notice it 😅

✅ Repo description updated

Thanks!

[2020-09-10 12:36] #325 closed

[2020-09-11 10:54] Juanpe commented on #276
Hi, the README file has been updated including this info 🙂

You can check it here: https://github.com/Juanpe/SkeletonView#-collections

[2020-09-11 10:54] #276 closed

[2020-09-11 11:03] anoop4real commented on #276
Great 👍

[2020-09-14 04:36] ricardoisidro commented on #318
Thanks @Juanpe for your time and help :) , certainly this worked really well.

[2020-09-14 04:36] #318 closed

[2020-09-16 03:38] Abe-2 commented on #143
This issue is occurring when using multiline skeletons on labels. To reproduce the issue, create a vertical stack view and place two labels inside it. let the first label have only one line of text and the other multiple lines. The alignment doesn't matter. For the stack view, set the alignment to "Leading." Change the app semantic to right-to-left. When you run the app the first label with align

[2020-09-17 01:31] greatsk55 opened #330 "The text of uilabel does not change when it is in showAnimatedSkeleton."
### Description

The text of uilabel does not change when it is in showAnimatedSkeleton.
i'm using storyboard.

ex )

vc view----------
|     baba(label)
|
|
|
|------------------

[code]

label text is still baba.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ X ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requ

[2020-09-17 04:25] #315 closed

[2020-09-17 11:40] Manikandan271192 opened #331 "The Nested Collection view becomes unresponsive in iOS 14 when using SkeletonView."
### I am using SkeletonView version 1.8 and it was working fine in iOS 13(Xcode 11.7). When I run this to iOS 14 with Xcode 12 the nested collection views have become unresponsive after calling
self.showAnimatedGradientSkeleton(usingGradient: gradient, animation: animation, transition: .crossDissolve(0.25)) Method.

[2020-09-17 13:37] helkarli commented on #331
I have a similar issue. Using SkeletonView 1.8.7 makes a nested collection view within a collection view unresponsive (no horizontal scrolling or taps recognized), although the SkeletonView is used in a different view controller in a different tab. 🤷‍♀️

[2020-09-17 18:12] BrentMifsud opened #332 "Version 1.9 breaks swift package manager"
### Description

1.9 is not a semantic version number. As such SPM cannot resolve.

Please update/create a new tag `1.9.0`

Using the commit SHA from 1.9 works, and any other tag works.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each

[2020-09-17 18:39] Juanpe commented on #332
Hi @BrentMifsud! Thanks for reporting. We're going to create a new tag to solve this problem

[2020-09-17 18:42] Juanpe commented on #331
Ok, we need to investigate deeper

[2020-09-18 08:50] Juanpe commented on #332
Hi again, this issue should be resolved :) Feel free to open a new issue if you have another problem

![Screenshot 2020-09-18 at 10 48 57](https://user-images.githubusercontent.com/1409041/93577735-b54a9600-f99c-11ea-95d5-cd95e24cfa6a.png)

[2020-09-18 08:50] #332 closed

[2020-09-18 09:46] adelbios opened #333 "CollectionView transition"
Whet i use collectio View the teanition for both hide and show doesn’t werk ... but in a tableView it’s work ... can you fix that ?

[2020-09-18 13:49] vladislavsosiuk commented on #259
Same crash for iOS 12.4 (iOS 13+ is fine). Tried 1.9.0 version

[2020-09-18 14:24] vladislavsosiuk commented on #259
Possible workaround: https://github.com/vladislavsosiuk/SkeletonView/commit/b7bf3903b769c311e4bd31758dec224fee3f7579

[2020-09-18 23:44] guidev opened #334 "Add support for UICollectionViewDiffableDataSource and UITableViewDiffableDataSource"
### Description

It would be awesome to add support for the (not so much) new `UICollectionViewDiffableDataSource` and `UITableViewDiffableDataSource`.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and

[2020-09-21 11:21] saikumar-osv commented on #299
Started facing the same issue, after updating to latest version of Xcode.

[2020-09-23 01:33] #310 closed

[2020-09-23 01:33] #306 closed

[2020-09-23 12:20] Juanpe commented on #334
Duplicate of #279

Hi @guidev, I'm going to close this issue because it's duplicated

[2020-09-23 12:21] Juanpe commented on #334
Hi @guidev, I'm going to close this issue because it's duplicated

[2020-09-23 12:21] #334 closed

[2020-09-23 13:47] helkarli commented on #331
The only thing I meanwhile discovered was that the call to `swizzleLayoutSubviews()` disables the user interaction in my cell...without it, as far as I can see now, everything in our setup still works. Animated as well as non-animated.

[2020-09-24 07:29] t643961 commented on #296
hi all,  do wen have any update on this issue? It is still not working for me.

[2020-09-24 13:37] helkarli commented on #331
After some more investigation and considering reworking my views I discovered that I was adding the nested `collectionView` to the cell view instead of the `contentView` of the cell, which is not supposed to work at all, but does until the swizzled `layoutSubviews` of SkeletonView changes something. Sorry for the fuzz... :)

![](https://media1.giphy.com/media/vX9WcCiWwUF7G/200.gif)

[2020-09-24 17:36] davidecastello opened #335 "Displaying incorrectly a UILabel"
### Description

As you can see in the attachment below, I'm calling `showAnimatedGradientSkeleton` on two Skeletonable views, an UIImageView (the big one) and an UILabel.
The lateral margin on that label is 16 on both sides, but on the right side it behaves incorrectly. Every once in a while, it behaves correctly, not changing anything in the application code.
I'm not sure if this is a known issu

[2020-10-02 12:00] #296 closed

[2020-10-02 12:05] Juanpe commented on #296
Hi all, the next version will fix this problem.

If you want to check if the problem is solved with this fix you can set the dependency in your podfile, pointing to the develop branch.

Podfile
pod 'SkeletonView', :git => 'https://github.com/Juanpe/SkeletonView.git', :branch => 'develop'

[2020-10-02 12:06] Juanpe commented on #330
Hi @greatsk55 , the next version will fix this problem.

If you want to check if the problem is solved with this fix you can set the dependency in your podfile, pointing to the develop branch.

**Podfile**
`pod 'SkeletonView', :git => 'https://github.com/Juanpe/SkeletonView.git', :branch => 'develop'`

[2020-10-02 15:19] Juanpe commented on #143
Hi!

Finally, SkeletonView has support for RTL, since version 1.10.0 🎉

![skeleton_rtl](https://user-images.githubusercontent.com/1409041/94940114-596f2980-04d3-11eb-81b6-25bb204a8b0a.gif)

[2020-10-02 15:19] #143 closed

[2020-10-02 15:20] Juanpe commented on #330
SkeletonView v1.10 has been released, so you don't need to modify your podfile :)

[2020-10-03 22:57] #330 closed

[2020-10-06 03:30] nisargmehta commented on #133
Any update here? how to have the shimmer on a collection view inside a UITableviewCell?

[2020-10-06 16:17] davidecastello commented on #335
Any news on this? Thanks.

[2020-10-06 17:06] Juanpe commented on #335
Hi @davidecastello, I was checking but it would be nice if you give me more info related to the constraint that you're using and the view hierarchy.

Could you provide me the info, please?

Thanks

[2020-10-07 08:40] davidecastello commented on #335
Hi @Juanpe,
it's a simple `UILabel` under an `UIImageView`, all inside a `UIView`.

The imageView is constrained to its superview with (trailing: 0, top: 0, leading: 0) and to the label with (bottom: 16).
The label is constrained to its superview with (trailing: 16, leading: 16, bottom: 16) and to the imageView with (top: 16).

Let me know if you need more info. Thanks.

[2020-10-07 11:22] Juanpe commented on #335
I've created a project with the same config and it seems to work fine...

![sample](https://user-images.githubusercontent.com/1409041/95324452-05cc5980-08a0-11eb-8eb6-92ede6288942.gif)

Attach the project.
[Button.zip](https://github.com/Juanpe/SkeletonView/files/5340219/Button.zip)

[2020-10-08 23:04] JohnnyXplor commented on #305
Resolved.

[2020-10-08 23:04] #305 closed

[2020-10-09 08:04] davidecastello commented on #335
Ok thanks, so maybe it was the library for the card layout that was creating some issues.
Anyway I got rid of it, so now it works correctly.
Thanks for the help!

[2020-10-09 08:04] #335 closed

[2020-10-09 08:31] wongzigii commented on #206
Same issue here, any update ?

[2020-10-13 01:42] chang-guofeng commented on #299
can you say something more?
Very grateful for thay.

[2020-10-13 02:24] chang-guofeng commented on #299
It solved my problem.
Thanks!

[2020-10-18 10:28] Pavel71 commented on #299
Do not use same reuseId with skeleton cell.
Hi Every One! What is this mean?

[2020-10-18 10:31] Pavel71 commented on #299
Hi Every One! What is this mean?

[2020-10-18 13:52] chang-guofeng commented on #299
I create another cell  for skeleton to show the animation.
I guess it is what he said and it works well for now.

[2020-10-19 09:51] Juanpe commented on #278
Hi @DiwakarThapa, SkeletonView supports autoreverses animations.

You can check the PR to get more details, but basically you need to specify the animation when launching the skeleton:
[code]

The version 1.11.0 will contain this feature 👍

[2020-10-19 09:51] #278 closed

[2020-10-21 22:51] Juanpe commented on #281
Hi!

I've done some changes trying to fix this issue. Before merging these changes I would like to try if the issue is solved. Please, could you check it?

The changes are in the branch called `feature/resize_labels_based_on_number_of_lines`

Please, let me know. Thanks 👍

[2020-10-22 01:34] quanh commented on #277
I found this issue on iOS 13 earlier.
Try call hideSketleton in next runloop worked:
`DispatchQueue.main.async {
            self.hideSkeleton(reloadDataAfter: true, transition: .crossDissolve(0.2))
        }
`

[2020-10-22 12:52] muzamilhassan1987 opened #342 "App Crashes"
Trying to put the stack in unreadable memory i am receiving this error when using Skeleton View in uitableview
using Xcode 12.0

[2020-10-22 14:04] Juanpe commented on #285
Hi @CameronHamidi, I've checked this issue, and the code is working fine, I mean, if you set the color manually, you need to update the color/gradient when the dark mode is active.

However, if you use the default color, the library updates the color automatically.
![dark_mode](https://user-images.githubusercontent.com/1409041/96883115-50dd9380-1480-11eb-9e40-fabb054b6abb.gif)

By the way, the def

[2020-10-22 14:06] Juanpe commented on #342
Hi @muzamilhassan1987, please, could you provide more info about this error? Thanks

[2020-10-23 01:46] Molida-Loeung opened #343 "Navigation bar large title is collapsed during animation in UITableViewController"
I use the skeletonView in my UITableViewController embed in UINavgationController large title. When the animation starts, the navigation is collapsed.

[2020-10-24 03:58] #343 closed

[2020-10-24 07:55] Juanpe commented on #343
Hi @Molida-Loeung, what happened with this issue, did you solve? If so, please, share how. It could be useful for other developers 🙂

Thanks

[2020-10-28 10:34] Juanpe commented on #281
Hi guys! Could you check it? I'm going to merge this feature, but if it's possible, I would like to get some feedback before :)

Thanks

[2020-10-29 09:07] chaser-young commented on #299
I call "cell.hideSkeleton()" before set data to the cell.

[2020-11-04 01:10] jsahoo opened #345 "UITextField placeholder text is visible while skeleton is showing"
### Description

The placeholder text of UITextField is visible while the skeleton is active (it should be hidden).

![Nov-03-2020 17-03-27](https://user-images.githubusercontent.com/6937424/98057353-ef5de300-1df6-11eb-8259-af17736d3d47.gif)

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
-

[2020-11-07 05:39] #285 closed

[2020-11-07 05:39] #342 closed

[2020-11-11 11:19] dimkoy commented on #206
Try to set something like "       " to label and call `layoutIfNeeded()` just before `showAnimatedSkeleton`

[2020-11-12 08:46] Juanpe commented on #206
Hi, are you using the latest version (1.11.0)?

[2020-11-12 12:12] Recouse commented on #206
@Juanpe checked with the latest version (1.11.0). It's not working with `numberOfLines = 0`, but works for any other values.

[2020-11-12 14:44] james-ff commented on #321
What can we do in the meantime with composition layouts?

[2020-11-16 10:53] miguelangel-dev opened #346 "Carthage builds fail at Xcode 12"
### Description

When you try to resolve any SkeletonView version using `carthage` and `Xcode 12` compiler fails with the next error:
[code]

#### What is happening?
Running the `lipo` command, it alerts the next error:
[code]

A [suggested temporal workaround](https://github.com/Carthage/Carthage/issues/3019#issuecomment-693302447) could be to exclude the arm64 architecture for simulators in the

[2020-11-16 16:40] #346 closed

[2020-11-18 13:30] brunoccy opened #348 "Crash showAnimatedGradientSkeleton(usingGradient:animation:transition:)"
### Description
Every mounth i receive crash for this issues, it looks like something from the selector.
This crash is the only one where have more iOS 13 (73%) than iOS 14 (27%).

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the

[2020-11-19 03:30] #281 closed

[2020-11-19 08:05] chenshipeng opened #349 "calculate estimatedNumberOfRows of UITableView error"
### Description

when calculate of UITableView using `func collectionSkeletonView(_ skeletonView: UITableView, numberOfRowsInSection section: Int) -> Int` error when i use auto layout to set UITableView frame.i see you use
`var estimatedNumberOfRows: Int {
        return Int(ceil(frame.height / rowHeight))
    }
`
to calculate row number,but if i use SnapKit to set UITableView frame,that will be a

[2020-11-20 15:59] Juanpe commented on #349
Hi @chenshipeng,

What are you exactly mean? The app crashes or the number of cells is calculated wrongly?

could you give more info, please?

Thanks

[2020-11-24 11:34] brunoccy commented on #348
@Juanpe , have you seen this? can you guide me to solve this?
Thanks

[2020-11-26 02:02] #349 closed

[2020-11-26 07:31] mrReason1984 opened #350 "skeletonPaddingInsets bug"
If I use skeletonPaddingInsets and set bottom inset, nothing changes.
If I use other insets all OK

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x ] I've read and understood the [Contributing guidelines](https://gi

[2020-11-30 11:54] mdziubich opened #351 "UILabel height constraint remains after removing skeleton layer"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [ x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/develop/CONTRIBUTING.m

[2020-12-01 16:11] StasanTelnov commented on #351
Hello. I have a same problem too.

[2020-12-11 11:12] wmadao11 commented on #351
Same problem. It seems that this was introduced in 1.11.0

[2020-12-12 14:22] sseno commented on #351
Same issue, any updates?

[2020-12-14 21:31] diogot commented on #321
Your problem doesn't seem related to compositional layout, but with diffable data source, take a look at #279.
https://github.com/Juanpe/SkeletonView/issues/279#issuecomment-666167980 helped me to make it work.

[2020-12-18 10:49] anwer2020 commented on #350
same question. Any reports please

[2020-12-22 14:12] AhmBesbes commented on #184
I have the same problem

[2020-12-30 21:18] i0sa commented on #176
Note that PR https://github.com/Juanpe/SkeletonView/pull/339 has done exactly what i was asking for.

[2021-01-04 05:34] daihovey commented on #279
Using the above solution, I'm getting `attempt to insert row 0 into section 0, but there are only 0 rows in section 0 after the update` crash when applying a new snapshot to the datasource - any ideas how to fix?

[2021-01-04 17:00] lukeirvin commented on #75
I believe this is still an issue in 1.8.7 as well

[2021-01-06 09:07] kanottonp opened #352 "skeletonLayoutSubviews() is called infinitely when Open Floating Keyboard with Input AccessoryView after showAnimatedGradientSkeleton()"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [ x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/develop/CONTRIBUTING.m

[2021-01-07 03:52] chalermpong commented on #352
To summarize the problem here:
1. Set iPad to use Floating Keyboard
2. Create an app containing a TextField with any inputAccessoryView.
3. Swizzling the `UIView.layoutSubviews` method
4. Run the app and click on the TextField -> App will be stuck in infinite loop

It seems to be an iOS problem here.  @Juanpe Is it possible to implement SkeletonView without swizzling `UIView.layoutSubviews`?

[2021-01-11 21:57] RuiAAPeres opened #353 "SkeletonView respecting Font's height, rather than the `UIView` actual height"
### Description

I noticed this bug when I updated to `1.11.0`. Let's assume the following setup for a simple `UILabel`:

1. `isSkeletonable = true`
2. font set to something with `20` points
3. height set to `5` points

Before `1.11.0`, what would happen is that SkeletonView would respect the View's height and keep it at that `5` points height. With `1.11.0`, the SkeletonView's height, will follow

[2021-01-12 01:43] CoderWeiLee opened #354 "collectionview doesn't call func collectionView(_ collectionView: UICollectionView, numberOfItemsInSection section: Int) ->"
### Description
collectionview doesn't call func collectionView(_ collectionView: UICollectionView, numberOfItemsInSection section: Int) -> Int
Describe your issue here.
doesn't call func collectionView(_ collectionView: UICollectionView, numberOfItemsInSection section: Int) -> Int and  func collectionView(_ collectionView: UICollectionView, cellForItemAt indexPath: IndexPath) -> UICollectionViewC

[2021-01-14 12:35] Juanpe commented on #353
Hi @RuiAAPeres, thanks for sharing this bug. I going to check it asap :)

[2021-01-14 12:38] Juanpe commented on #352
Hi @chalermpong, thanks for sharing this bug and for trying to explain how to reproduce it. It's very useful to fix it.

I'm going to check it 👍

[2021-01-14 12:39] Juanpe commented on #351
Hi there! sorry for the delay, I'm checking this issue. I let you know when I have more info about that 👍

[2021-01-14 12:40] Juanpe commented on #350
Hi! I'm going to check it :)

[2021-01-14 12:42] RuiAAPeres commented on #353
@Juanpe you are the best. I would just like to make a small amend to my original post. I might have implied that the fault is with `1.11.0`, but it might not be the case.

[2021-01-14 12:54] feliperljorge opened #355 "Limit on linesCornerRadius"
### Description

Why is there a limit of 10 on the linesCornerRadius? Would be nice to remove this and allow us to decide how much we want to round the corners.

The code limits the corner radius to a maximum of 10 in UILabel+Multiline.swift file:
`set { multilineCornerRadius = min(newValue, 10) }`

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [x] enhancement (fea

[2021-01-14 15:00] RuiAAPeres commented on #331
I am seeing the same happening on my setup. Two CollectionViews nested. The outer CollectionView is not supposed to animate, but the inner is.

[2021-01-20 17:18] ugowe opened #358 "Disclose method swizzling in documentation"
### Disclose method swizzling in documentation

SkeletonView is swizzling the `UIView.layoutSubviews` method and this has the potential to interfere with the layout of subviews not related to this framework, similar to what was experienced in https://github.com/Juanpe/SkeletonView/issues/202

### What type of issue is this?
- [ ] bug
- [x] enhancement (feature request)
- [ ] question
- [x] documen

[2021-01-22 13:23] #353 closed

[2021-01-26 09:50] PramodShukla10 commented on #206
any one got solution?

[2021-01-26 10:03] PramodShukla10 commented on #194
any one get solution?

[2021-01-29 13:14] itsTarun commented on #354
Hi, I'm also facing this issue.
Please help 🙂

[2021-01-29 14:16] itsTarun commented on #354
It worked for me when I used this method
⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️⬇️
func numSections(in collectionSkeletonView: UICollectionView) -> Int

Thanks 😊

[2021-01-30 13:56] CoderWeiLee commented on #354
Thanks u my brother

[2021-01-30 13:56] #354 closed

[2021-01-31 15:49] Juanpe commented on #355
Hi @feliperljorge, you're right, thanks for sharing.

It'll be removed in the next version :)

[2021-02-01 11:13] #355 closed

[2021-02-02 12:06] Khaled-elsedek commented on #176
@i0sa  did you got the solution to hide specific element

[2021-02-02 12:21] Juanpe commented on #176
hi @Khaled-elsedek, as you can check in the readme file, you can hide an element when the skeleton is active.

[code]

It's important to make skeletonable the view which you want to hide

[2021-02-03 06:28] jaxxxxxxxx commented on #351
label.text = "xxx"
label.removeConstraint(label.constraints.last!)

You can use the code above to solve this problem, but use it with caution.

[2021-02-03 06:58] aarashgoodarzi opened #370 "SkeletonView side by side of UITableView/UICollectionView RxCocoa binding"
### Describe the feature or problem you’d like to solve
Using  skeletonView with `UITableviewDataSourse` works fine and handy but when it it comes to `RxCocoa` binding( like: `tableView.rx.items(...)` ) there's no clear solution to make skeleton for a tableView or a CollectionView.
### Proposed solution
make another protocol for non-tableView-dataSourced lists!
How will it benefit SkeletonView and

[2021-02-03 08:03] #351 closed

[2021-02-03 08:07] Juanpe commented on #351
Hi!

This issue has been resolved, the fix will be included in the next version which will be released during this week.

Thanks for using SkeletonView :)

[2021-02-03 08:25] Juanpe commented on #353
Hi @RuiAAPeres, version 1.12.0 was released yesterday, and this issue must be resolved.

Don't hesitate to reopen or create a new one if you find some issue ;)

[2021-02-03 14:30] chillxcode opened #373 "Crash swizzleLayoutSubviews"
### Description

I tried to solve it for a long time but I could not, a crash I always encountered. I would be very happy if you could help. iOS 13 (10%) and iOS 14 (90%).

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)

[2021-02-05 07:57] Juanpe commented on #373
Hi @chillxcode, do you have any breadcrumb? any info is important to know what is happening :) Thanks

[2021-02-05 18:24] Juanpe commented on #345
Hi @jsahoo, next version will contain the fix for this issue :)

[2021-02-05 18:38] Juanpe commented on #350
Hi @mrReason1984, I have checked for a while this issue but I can't reproduce it. I used a label with the padding intets =
`UIEdgeInsets(top: 0, left: 0, bottom: 50, right: 50)` and as you can see in the screenshot below, the padding is applied 😅

<img width="364" alt="Screenshot 2021-02-05 at 19 34 26" src="https://user-images.githubusercontent.com/1409041/107074726-6ab1a500-67e9-11eb-9a73-7bdeef

[2021-02-05 20:18] mrReason1984 commented on #350
I am use SnapKit with top constraint and constant height, numberOfLines = 1.
Sorry l cant show code.

[2021-02-08 09:14] Juanpe commented on #345
The version 1.12.1 has been released, feel free to open a new issue if you find any bug or any weird behaviour 🙂

[2021-02-08 09:14] #345 closed

[2021-02-09 14:34] lordzsolt commented on #353
Not sure if this is related, but after updating from 1.10.0 to 1.12.0, something got changed in how UILabel's skeletons are rendered, and adding `clipsToBounds` is needed. It would be great if the SkeletonViews clipped themselves.

Scenario:
UILabel with font size 15.
Min height constraint set to 20.

Before:
![IMG_0098](https://user-images.githubusercontent.com/8976891/107378216-072abe80-6aec-11e

[2021-02-09 15:53] Juanpe commented on #353
Hi @lordzsolt,

The font size is ignored while calculating the skeleton height since version 1.12.0. But I think it's not correct at all, I mean the final height should consider both the font size and the height constraint. If the font size is greater than the height, then height will be used, otherwise, the font size will be used.

I will try to fix it as soon as possible to include it in the nex

[2021-02-09 15:59] RuiAAPeres commented on #353
We have two scenarios here:

| Height smaller than Font | Height bigger than Font |
|--------------------------|-------------------------|
| <img width="229" alt="image" src="https://user-images.githubusercontent.com/949286/107390337-8077e080-6aef-11eb-8405-d2cc733feddb.png"> | <img width="218" alt="image" src="https://user-images.githubusercontent.com/949286/107390374-8b327580-6aef-11eb-9ee4-cd34

[2021-02-09 16:38] lordzsolt commented on #353
I completely agree with @RuiAAPeres. Just require people to put a min-height constraint (or non-empty contentSize by setting `"  "`) in their labels, so SkeletonView can just take the height of the component.

The less "smart" SkeletonView tries to be, the more predictable the outcome.

[2021-02-09 16:52] Juanpe commented on #353
mm, using the current version these examples, the skeleton layer looks like this:
| Label's height smaller than Font's height | Label's height bigger than Font's height |
|--------------------------|-------------------------|
|![b](https://user-images.githubusercontent.com/1409041/107396907-7dd0b780-6afe-11eb-92c2-a5ea6c8d5a99.jpg) | ![c](https://user-images.githubusercontent.com/1409041/107397445

[2021-02-09 17:04] lordzsolt commented on #353
But my problem is, with the latest version, if the labels height is bigger than the font height, it doesn't look like the top right one.

It will be two lines, and the second line goes outside the bounds of the UILabel.

I'm actually not sure if "label height is bigger than font height" is a problem case. You will have this problem with multiline labels.

[2021-02-09 17:12] Juanpe commented on #353
Ahh ok, I misunderstood the issue. So, your label has more than one line, right? In this case, the issue is not related to this one, the change was included in the [version 1.11.0](https://github.com/Juanpe/SkeletonView/releases/tag/1.11.0). Let me check then

[2021-02-19 14:23] carllindberg commented on #290
I think you need to implement

func collectionSkeletonView(_ skeletonView: UICollectionView, supplementaryViewIdentifierOfKind: String, at indexPath: IndexPath) -> ReusableCellIdentifier

to return the String cell identifier to use for headers while in Skeleton mode.  Skeleton returns a bare UICollectionReusableView() if you don't implement the skeleton data source method, which now appears to cra

[2021-02-25 09:52] nnirajan opened #377 "Collectionview inside tableviewcell"
How can I use skeleton loading for collectionview inside tableview cell?

[2021-03-05 15:39] Diana-iOS opened #378 "Two collections on one screen"
I don't know English well and write through a translator, so I didn't put the question in the issue template, sorry.
I have a screen. It has two collections on it, tableView and collectionVIew. They both conform to the protocols and have skeleton methods for the dataSource. But when the screen starts loading, skeleton loading is triggered only for one collection, in my case it is a table view. How

[2021-03-22 11:46] alexookah commented on #352
I am experiencing the same problem. when trying to move the floating keyboard to the bottom of the screen. The whole app freezes.

https://github.com/Juanpe/SkeletonView/blob/7d8a057b64dd8b823ba9e1272bd018a166aa226f/Sources/SkeletonView.swift#L96-L101

is self-calling itself. Maybe this should be handled differently?

[2021-03-22 12:37] Juanpe commented on #352
Hi @alexookah, I'm still looking for how to solve this problem :/ I hope I can find a solution soon

[2021-03-22 15:06] alexookah commented on #352
Here adding a video that demonstrates the problem:

https://user-images.githubusercontent.com/9624843/112011133-a2be3e80-8b30-11eb-8108-f9630c211258.mov

`
class Cell: UITableViewCell {

    @IBOutlet weak var avatar: UIImageView!
    @IBOutlet weak var label1: UILabel!
    @IBOutlet weak var textField: UITextField!

    override func awakeFromNib() {
        super.awakeFromNib()
        setUpInpu

[2021-03-23 10:18] daihovey commented on #279
@tbaranes Is there anything more to your example? I have the same code but the `collectionSkeletonView` function is never called

[2021-03-24 15:58] iDevPro commented on #288
We have the same behaviour :)
We saw missing order (backordered data) before animate enable
Workaround:

`DispatchQueue.main.async { [weak self] in
            self?.skeletonViews.forEach({
                $0.showSkeleton()
            })
        }`

[2021-03-29 09:53] Gawetaner opened #379 "Transition Delay"
### Transition Delay

If using SkeletonView for views that are mostly updated quickly, the SkeletonView transition looks like a short flashing of the view.

Example:  A view that will be updated with an small amount of data loading from the internet will be updated fast enough to skip the SkeletonView animation and transition. Only if network problems occur, the SkeletonView needs to be shown.

##

[2021-03-29 22:02] Daniebro5 commented on #58
Any updates on this?

[2021-04-07 07:34] alexookah commented on #352
Do we have any news about the issue?
maybe this helps the issue? https://github.com/Juanpe/SkeletonView/issues/358

[2021-04-07 18:22] alexookah commented on #352
@Juanpe
Just added a PL that might be a solution :)

[2021-04-08 10:45] Juanpe commented on #358
Hi @ugowe, the latest version (1.14.0) contains this code :) I'm going to close this issue, feel free to open a new one if you still facing the problem

[2021-04-08 10:45] #358 closed

[2021-04-08 10:46] Juanpe commented on #202
Hi all, the latest version (1.14.0) contains a fix to solve this problem. I'm going to close this issue, feel free to open a new one if you still facing the problem

[2021-04-08 10:46] #202 closed

[2021-04-08 10:47] Juanpe commented on #352
Hi all, the latest version (1.14.0) contains a fix to solve this problem. I'm going to close this issue, feel free to open a new one if you still facing the problem.

Thanks @alexookah for the contribution

[2021-04-08 10:47] #352 closed

[2021-04-08 10:47] Juanpe commented on #373
Hi @chillxcode, the latest version (1.14.0) contains a fix that could solve this problem. I'm going to close this issue, feel free to open a new one if you still facing the problem

[2021-04-08 10:47] #373 closed

[2021-04-08 10:50] Juanpe commented on #146
Hi all, what about this issue then, we could close it? thanks in advance :)

[2021-04-08 16:05] adelbios commented on #288
thanks

[2021-04-08 16:31] Hilzom commented on #288
We ran into problems when using DispatchQueue.main.async {}

The solution to the problem now looks like this:
 view.showAnimatedSkeleton(usingColor: skeletonColor, animation: nil, transition: .none)

(or just delete this buggy pod <3 )

[2021-04-09 20:15] tsangaris commented on #331
Same here!

This StackOverflow post [https://stackoverflow.com/questions/63947042/since-updating-to-xcode-12-i-am-not-able-to-place-any-uicontrol-inside-uitablevi](https://stackoverflow.com/questions/63947042/since-updating-to-xcode-12-i-am-not-able-to-place-any-uicontrol-inside-uitablevi) highlights this.

[2021-04-12 07:06] michaelhenry opened #383 "UITableViewAlertForLayoutOutsideViewHierarchy warning"
Still getting this warning when trying to immediately show a skeletonView on a `UITableView`

[2021-04-12 09:09] #383 closed

[2021-04-22 18:37] Avishekk4121 commented on #378
facing the same issue, have you found any solution for that?

[2021-04-22 18:38] Avishekk4121 commented on #289
have you found any solution for this?

[2021-04-25 03:31] taylorlannister commented on #290
I had implemented the method about collectionView header And footer, then  set the  collectionView.isSkeleton = true, got the same error about 'collectionView:viewForSupplementaryElementOfKind:atIndexPath (UICollectionElementKindSectionHeader'
and cannot finde the same implemented like tableView

[2021-04-28 07:03] mvn-duytran-dn commented on #146
I putted inside DispatchQueue block code. It's working.
[code]

[2021-05-02 13:55] imWildCat opened #386 "Toggling dark/light mode breaks the example"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2021-05-07 01:32] michaelhenry opened #388 "On IOS12, this placeholder still appear initially and will disappear after sometime (still noticeable)"
### Description

This placeholder  still appearing on iOS12

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [x] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CO

[2021-05-10 11:08] lordzsolt opened #390 "SkeletonViews not removed from reused table view cells"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2021-05-10 11:13] lordzsolt opened #391 "Add option to allow user interaction while skeletons are visible"
### Describe the feature or problem you’d like to solve

Currently, when showing skeletons in a table/collection/scroll view, it feels kinda bad (imho) that user interaction or scrolling is disabled.

### Proposed solution

Add some kind of flag to allow views to scroll while skeletons are visible?

Global or per-scroll view?

[2021-05-11 08:42] KrishnaKaira opened #392 "Skeleton displays in device's selected theme for fraction of second"
### Description

We have custom implementation of dark theme, and user can select theme from inside the application setting. Now, when user either uses system theme, or same theme as device, skeleton color shows smoothly. But lets say if user selects 'Dark' theme in application setting, and user's device is in 'Light' mode, the skeleton displays in light mode for a fraction of second before it swi

[2021-05-11 11:25] Spaalvast opened #393 "SkeletonCollectionDelegate doesn't call identifierForFooterInSection anymore"
### Description

When implementing the collectionSkeletonView:identifierForFooterInSection protocol it will never get called.

Cause:
In the file 'SkeletonCollectionDelegate.swift' and the method 'tableView:viewForFooterInSection' the 'identifierForHeaderInSection' is called instead of the footer as would be expected.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
-

[2021-05-11 17:02] #388 closed

[2021-05-11 17:15] #393 closed, assigned to nobody

[2021-05-11 17:33] Juanpe commented on #378
Hi @Diana-iOS, let me check this issue

[2021-05-18 09:37] KrishnaKaira commented on #392
@Juanpe Did you get any chance to look into it? I would like to drag your attention here.
Is there any way that we could override user interface style for skeleton view? It is somehow picking system's selected style for fraction of second.

[2021-05-20 18:06] Narek1994 opened #395 "Fatal Exception: NSInternalInconsistencyException for UICollectionElementKindSectionFooter"
Hi
Thanks for this wonderfull lib.
Sometimes I am getting this crash in crashlytics for UICollectionView.prepareSkeleton

here is the code which starts skeletion

[code]

Actually my collectionVIew doesn't have a UICollectionElementKindSectionFooter, why it is trying to get that view?
Thanks in advice.

[2021-06-01 19:11] aaronvegh commented on #390
I had this issue as well. Hoo boy I thought I was sunk, having just spent a day+ implementing it in this app! I was able to find a solution by implementing something like this in the `UITableViewCell`'s `prepareForReuse()` method:

[code]

`findViews()` is a UIView extension that includes these methods:

[code]

The point here is that I'm manually doing with I figure this framework _should_ be doi

[2021-06-01 19:47] btc opened #396 "How should SkeletonView be used with iOS 14's contentConfiguration APIs?"
Is SkeletonView compatible with the new content configuration APIs in iOS 14?

[2021-06-01 21:48] lordzsolt commented on #390
I guess one important question at that point is.... What's the performance impact of this.

Since table views/collection views are highly sensitive to performance. Prepare for reuse happens when scrolling, and that's the moment where it's the most important that not a lot is happening, so it doesn't cause hitches.

[2021-06-04 20:43] ixopp opened #397 "Issue with UICollectionView and SkeletonView's contentOffset"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2021-06-04 20:44] #397 closed

[2021-06-04 20:45] az0r234 opened #398 "Issue with UiCollectionView contentOffset when showing/hiding skeletonView"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2021-06-05 08:55] harrisonsj commented on #398
I couldn't reproduce the problem with a CollectionView (I think you mean contentInset when you say contentOffset), but I recently had the same problem with a TableView and fixed it by setting isScrollEnabled = true on the TableView immediately after calling the showSkeleton method.

[2021-06-06 08:33] gloryluu opened #399 "The skeleton view do not complete hide."
### Description

I upgraded the library from 1.7 to 1.16 and got some problems about show and hide the skeleton view. After taking a look from open issue and the sample code as well, but I still not find out how to fix the issue :/

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [x] discu

[2021-06-06 11:56] az0r234 commented on #398
@harrisonsj, I actually tried that, and yes I did mean contentInset. However, it doesn't seem to work with UICollectionView. It's a really annoying bug, but the temporary solution right now for me is to change the contentInset manually.

[2021-06-06 12:15] az0r234 commented on #103
It does work, in the collectionViewCell class you will have to add subviews into the contentView rather than the cellView.
`contentView.addsubview("somesubviewHere")`.
Then after that you have to set each view you want skeletonized to have the "isSkeletonable" property set to true including the contentView.
`contentView.isSkeletonable = true`

[2021-06-06 14:18] az0r234 commented on #398
I figured out a better solution. I believe every-time that the showSkeleton method is being called, it readjusts the contentInset for UICollectionView, and with that also readjusts the content area of the scrollview. To fix it, what I did was set the contentAdjustmentBehavior for collectionView to .never:
`collectionView.contentAdjustmentBehavior = .never`

[2021-06-06 14:18] #398 closed

[2021-06-06 14:39] harrisonsj commented on #399
Seems like this is caused by the estimatedRowHeight being significantly smaller than the actual row height turns out to be, hideSkeleton only removes the skeleton from the 'visibleCells' which leaves some reused cells with the skeleton still active if the number of visibleCells is significantly less with your data loaded than it is using the estimatedRowHeight.

Works properly if you use self.tabl

[2021-06-07 04:44] gloryluu commented on #399
Many thank to @harrisonsj . It works for me.

[2021-06-07 11:30] gloryluu commented on #193
Hi @Juanpe, is there anyway to solve this issue than the shadone's way ?

[2021-06-08 16:51] rlziii opened #400 "Allow For collectionSkeletonView(_:numberOfRowsInSection:) to Return EstimatedNumberOfRows"
### Describe the feature or problem you’d like to solve

Currently if a class conforming to `SkeletonTableViewDataSource` implements `collectionSkeletonView(_:numberOfRowsInSection:)`, there is no way to fall back on the default implementation (which returns `skeletonView.estimatedNumberOfRows`) since `estimatedNumberOfRows` has `internal` protection level.  This makes it difficult for wrappers th

[2021-06-09 10:28] Juanpe commented on #400
Hi @rlziii!

I don't exactly know what do you mean... 🤔 Now, you can define the number of rows that table will show when the skeleton is active by the data source method:

[code]

<img width="200px" src="https://user-images.githubusercontent.com/1409041/121338578-ebaab580-c91d-11eb-8980-a7982598ee11.png" />

##
Instead, if you don't implement this method, the library will calculate the estimated n

[2021-06-09 13:42] rlziii commented on #400
What you described is correct.  However, I was previously using a custom abstraction around `UITableViewDataSource`, and I am now trying to make that flexible enough to use with `SkeletonTableViewDataSource`.  I would like to be able to pass in something like a `SkeletonConfiguration` that would, among other things, have a `rowCounts` dictionary (i.e. `[Int: Int?]`).  And then be able to do someth

[2021-06-09 13:58] Juanpe commented on #400
Ok, I follow you now. 👍🏼

Yep, good point, and this could be very useful and would make more flexible the library. However, I'm not sure if modifying the signature is a good idea. 🤔

Another possibility could be to create a special case to define that the number of rows is indeterminate. Something like this:
`SkeletonCollectionView.automaticNumberOfRows` or `SkeletonCollectionView.indeterminateNum

[2021-06-09 14:07] Juanpe commented on #399
Thanks @harrisonsj for the research, I really appreciate it :)

I'll try to find a solution asap. BTW, feel free to create a PR with a solution if you know how to solve this issue ;)

[2021-06-09 14:08] Juanpe commented on #395
Hi @Narek1994, let's me check it :)

[2021-06-09 14:08] rlziii commented on #400
That would absolutely work.  👍  In the Objective-C days that was a common solution, or returning something like `-1` (which I don't like).  The constant approach (i.e. `SkeletonCollectionView.automaticNumberOfRows`) is nice because, like you said, it doesn't involve having to change the protocol's method signature.

[2021-06-09 14:09] Juanpe commented on #392
Hi @KrishnaKaira,

TBH, I could check this issue yet. I'm going to try to check it asap. :)

[2021-06-09 14:11] Juanpe commented on #390
Hi!

Please, check issue #399, I think this issue it's related and it could be duplicated

[2021-06-09 14:13] Juanpe commented on #299
Hi!

Please, check issue #399, I think there, there is a workaround to solve this issue. Meanwhile, I'm going to investigate more in order to solve it

[2021-06-09 14:14] Juanpe commented on #297
Hi @ramesh09ios,

I think this issue is the same of #399, please, check it in order to close this one :)

[2021-06-09 14:15] Juanpe commented on #297
Duplicate of #399

[2021-06-09 14:16] #297 closed

[2021-06-09 14:18] Juanpe commented on #400
Cool, would you like to contribute to the project? It would be great :)

[2021-06-09 15:11] rlziii commented on #400
Will do.  👍

[2021-06-09 16:45] #400 closed

[2021-06-09 21:37] #146 closed

[2021-06-10 16:59] #399 closed

[2021-06-10 17:36] Juanpe commented on #391
Hi @lordzsolt, this feature has been included in the latest version (1.7.1)

[2021-06-10 17:36] #391 closed

[2021-06-10 17:37] Juanpe commented on #299
The latest version should fix this problem. Please, could you check it to close this issue?

[2021-06-11 01:53] huangshan-ios opened #405 "Lost UILabel constraint height after call `hideSkeleton`"
### Description

Lost constraint height of UILabel after call `container.hideSkeleton()`

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Jua

[2021-06-11 09:33] Juanpe commented on #405
Hi @huangshan-ios, thanks for reporting this bug.

I've checked and you were right, there was a bug related to the constraints.

This issue has been solved, but it's not released yet, although you can check the solution by installing the pod (if you are using CocoaPods) indicating the specific branch:

`pod 'SkeletonView', :git => 'https://github.com/Juanpe/SkeletonView.git', :branch => 'main'`

[2021-06-11 09:33] #405 closed

[2021-06-11 09:39] Juanpe commented on #379
Hi @Gawetaner, I think it could be a good idea, in order to delay the transition if the developer wants.

I'm going to include it in the backlog. BTW, feel free to create a PR with the changes :)

[2021-06-11 11:38] Prempriya08 opened #407 "Skeleton view not aligned properly in RTL"
![IMG_0828](https://user-images.githubusercontent.com/66105815/121680752-8bf80a00-cad7-11eb-964f-48a39e913b20.PNG)
![IMG_0827](https://user-images.githubusercontent.com/66105815/121680787-94504500-cad7-11eb-9edf-6e6d21c1c14d.PNG)
In english its working fine but when checking in arabic. The skeleton view gets distorted. Please, help me.

[2021-06-11 19:41] rlziii opened #408 "SkeletonCollectionDataSource.automaticNumberOfRows is Inaccessible"
### Description

The new `SkeletonCollectionDataSource.automaticNumberOfRows` cannot be access because `SkeletonCollectionDataSource` is not a public class.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read

[2021-06-11 19:41] rlziii commented on #408
I'm working on a fix for this issue.

[2021-06-11 20:21] #408 closed

[2021-06-11 20:26] Juanpe commented on #405
The version that includes the fix has been released!

[2021-06-14 15:00] Juanpe commented on #396
Hi @btc,

Sorry, but now, I don't have this feature in the roadmap 😕

[2021-06-21 22:44] yousefelsayed commented on #407
Hi @Prempriya08  Did you find a solution to this issue?  it's happening with me also .

[2021-06-22 07:41] Juanpe commented on #407
Hi! could you give more context? SkeletonView version, iOS version... I've tried to reproduce this issue but I can't.

![Screenshot 2021-06-22 at 09 39 52](https://user-images.githubusercontent.com/1409041/122883962-f44bb480-d33d-11eb-96bd-bc28827aa5f6.png)

Thanks

[2021-06-22 10:54] #379 closed

[2021-06-22 11:06] Juanpe commented on #379
Hi @Gawetaner, this feature was released :)

[2021-06-23 14:07] nemanjachoco opened #412 "Configure Cell Feature"
### Describe the feature or problem you’d like to solve

Our codebase is modularized and have only one dependency on a protocol modules.
We then inject the implementation from the main app, including one implementation to configure skeleton on cells. But because SkeletonView is creating UITableViewCell and passing it back directly there is no way for us to configure that cell.

### Proposed soluti

[2021-06-23 14:11] KarimAlweheshy commented on #412
+1

[2021-06-23 16:03] datoutwo commented on #412
+1

[2021-06-24 06:09] #412 closed

[2021-06-26 01:39] #299 closed

[2021-06-26 01:39] #390 closed

[2021-06-28 11:47] Juanpe commented on #395
@Narek1994, did you implement the method `func collectionSkeletonView(_ skeletonView: UICollectionView, supplementaryViewIdentifierOfKind: String, at indexPath: IndexPath) -> ReusableCellIdentifier?`

[2021-06-28 11:51] Juanpe commented on #302
Hi @X901, could you give me more details about where did you call to both `reloadData` and `hideSkeletonView` methods? I think this error could be related to the order of execution of the calls.

[2021-06-28 11:56] Juanpe commented on #282
Exactly, as. @AprilYoungs said, if you don't have a section header or footer, you don't need to conform to `SkeletonTableViewDelegate` protocol :)

Since this issue seems solved, I'm going to close it. But, please, feel free to create a new one if you still face the same problem or find another one.

Thanks for using SkeletonView

[2021-06-28 11:56] #282 closed

[2021-06-28 11:58] Juanpe commented on #290
Hi @taylorlannister, are you setting `header/footer.isSkeletonable = true` as well?

[2021-06-28 12:05] Juanpe commented on #289
Hi @tsangaris and @Avishekk4121 ,

**Question 1**
There is another method to return the identifier of the section header/footer. It is this:
[code]

**Question 2**
The methods are not the same, I mean, there is a method that returns the number of items when the skeleton is active.
[code]

And there is another one, the native method that returns the number of items when the skeleton is not active:

[2021-06-28 14:47] Juanpe commented on #280
It's already compatible :)

[2021-06-28 14:47] #280 closed

[2021-06-28 15:45] #294 closed

[2021-06-29 10:35] Narek1994 commented on #395
@Juanpe Yep, I have implemented it, and now very rarely getting this crash
`Fatal Exception: NSInvalidArgumentException
*** -[__NSDictionaryM setObject:forKey:]: object cannot be nil (key: <NSIndexPath: 0x918d357277e373ed> {length = 2, path = 0 - 0})`
in `UICollectionView.prepareSkeleton(completion:)`
Could you please help me to find where it is trying to set nil? Thanks.

[2021-06-29 10:39] Juanpe commented on #395
🤔 please, could you provide the full trace log?

[2021-06-29 11:03] Narek1994 commented on #395
I am getting this in the live app, so firebase crashlytics just gives me this

`Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x19640cc64 (Missing)
1  libobjc.A.dylib                0x1961350a8 (Missing)
2  CoreFoundation                 0x1964d7b68 (Missing)
3  CoreFoundation                 0x1964e5b00 (Missing)
4  CoreFoundation                 0x196347130 (Missi

[2021-06-29 11:05] Narek1994 commented on #395
I can say, that during this, screen which should show Skeletion animation is not visible(another view controller is presented on it), can this be an issue?

[2021-06-29 11:39] Narek1994 commented on #395
View appears, presents a modal, on that modally presented controller there is an action which forces the main view to rerequest the data from backend and show Skeletion animation during that loading, I am showing Skeletion in this case because user can close the modally presented controller and he should see Skeletion animation if request is not finished yet.

[2021-07-01 11:48] farismhmd1 commented on #211
anyone find any soultion for this?

[2021-07-01 11:49] adelbios commented on #211
not working for both collection and table

[2021-07-01 14:28] yousefelsayed commented on #407
Hi @Juanpe  thanks for your reply , i faced same issue on RTL , the Skelton version i setup was latest version and the iOS is 14.3 , here is a screenshot from the behaviour it happened with me while scrolling
![image](https://user-images.githubusercontent.com/17254384/124141042-55376300-da89-11eb-947c-8f00ea0e3ef5.png)

[2021-07-02 13:58] Juanpe commented on #407
It's so weird...I did some tests using the example app, and I couldn't reproduce it.

Could be a problem with the constraints? Could you show the constraints?

In the example app, the constraints look like this:
![Screenshot 2021-07-02 at 15 53 24](https://user-images.githubusercontent.com/1409041/124285413-2f27c680-db4e-11eb-9afe-72d49a0f74a7.png)

And the result is this:
<img width="349" alt="Sc

[2021-07-04 10:37] yousefelsayed commented on #407
@Juanpe  here is my constraints all my labels on a vertical stackview , i use showAnimatedSkeleton function at cell content view
![image](https://user-images.githubusercontent.com/17254384/124381666-fad61680-dcc3-11eb-8f7b-4ae05276b2d9.png)
![image](https://user-images.githubusercontent.com/17254384/124381704-340e8680-dcc4-11eb-9ce3-366109c4cf3f.png)

[2021-07-05 08:23] X901 commented on #302
your replay is too late , this issue happened on my perverse work project , I forget what I did 😅

[2021-07-05 09:09] Juanpe commented on #302
In this case,  I'll close this issue

Sorry for the late response :/

[2021-07-05 09:09] #302 closed

[2021-07-07 22:21] dahuggin opened #418 "Skeleton height on single line labels"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [X] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2021-07-09 08:03] Juanpe commented on #418
Hi @dahuggin,

Could you try to reduce the default height of each line `SkeletonAppearance.default.multilineHeight = 10`?

[2021-07-09 18:28] dahuggin commented on #418
Thanks @Juanpe, I am able to change the skeleton height using this method, but I have multiple labels with different heights, so setting a static skeleton height doesn't really provide the solution I need.

[2021-07-12 08:15] Juanpe commented on #418
The library takes the font height to calculate the height of each line...this label has a large font size?

A good solution would be to allow defining a line height for each label, but now it's not possible

[2021-07-12 12:17] denglei022 opened #419 "I want to the demo with RxDataSource"

[2021-07-12 16:26] dahuggin commented on #418
It's not a particularly large font size, I was working with a screen that has labels ranging from 16 to 24 pt font.  It would be nice to specify line height for each label.  Either way, I have submitted the work and am onto the next thing. Thanks for your help :)

[2021-07-13 02:16] denglei022 commented on #134
Any solution for this? modelSelect doesn`t work :/

[2021-07-13 11:51] Juanpe commented on #418
Oh sorry :/ I'll close this issue then

[2021-07-13 11:52] Juanpe commented on #419
I'm working on a version compatible with RxDataSource. When it's ready I'll create an example app to show how it works :)

[2021-07-13 11:53] #419 closed

[2021-07-14 21:23] p-nicolaou opened #421 "`isSkeletonActive` returns incorrect value"
### Description

In our app, we display the SkeletonViews while waiting for remote data to be available. Once received, we hide skeleton and call `reloadData()`

In addition, we're implementing UITableViewDelegate's method as below

[code]

in order to update the UI with some extra info.

Everything was working as expected while on SkeletonView 1.15.0.

Recently, we attempted to upgrade to a most

[2021-07-15 11:32] #290 closed

[2021-07-15 11:32] #289 closed

[2021-07-19 06:42] p-nicolaou commented on #421
@Juanpe any chance being able to look into this issue?

[2021-07-19 17:34] remlostime opened #422 "SwiftUI Support"
### Describe the feature or problem you’d like to solve

SwiftUI is here for a while, do we have the plan to support it

### Proposed solution

Make a `SkeltonView` which conforms `View` in SwiftUI

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2021-07-20 09:29] Juanpe commented on #422
Hi @remlostime,

TBH I'm not in the backlog because SwiftUI has a [view modifier](https://developer.apple.com/documentation/swiftui/view/redacted(reason:)) that allows you to simulate the content as well.

I don't know if I'll do, but not now 😕

[2021-07-20 10:02] Juanpe commented on #421
Hi @p-nicolaou,

The library reloads the data when the skeleton will hide, although you can omit this step.
Could you try to call `view.hideSkeleton(reloadDataAfter: false)` instead?

[2021-07-20 13:18] p-nicolaou commented on #421
Thank you for your response @Juanpe,

I've tried that already with no luck unfortunately.

One thing I noticed is that, by calling `view.hideSkeleton(reloadDataAfter: false)` and manually calling `tableView.reloadData()` is not working BUT
if I wrap the later into `DispatchQueue.main.asyncAfter(deadline: .now() + .seconds(2)) { }` then it works as before. The `guard view.isSkeletonActive == false

[2021-07-20 17:12] Juanpe commented on #421
Mm, ok, maybe it's related to the transition. If you dispatch after 0.25secs, it should work as well.

I'm not sure why this issue but with this clue I'm on track of find a possible solution, meanwhile a workaround for you could be dispatching the reload data task after 0.3secs

[2021-07-20 18:47] p-nicolaou commented on #421
I will try to replicate it in a sample project as well. That way, I can share the full code as well. In the mean time, have a look at this too. Might be helpful somehow,

I've change the `isSkeletonActive` to this:
[code]

Then, I ran my app using versions SkeletonView 1.16.0 & 1.17.2

1.16.0
[code]

1.17.2
[code]

`SkeletonTableViewCell` is the dummy cell we're using while fetching remote data

[2021-07-21 06:35] p-nicolaou commented on #421
@Juanpe I can confirm that by passing transition = .none here,
`view.hideSkeleton(transition: .none)` also solves the issue. So, as you correctly speculated, has something to do with the transition animation. But I can't figure out why is causing this issue with 1.17.2.

[2021-07-22 08:44] Juanpe commented on #407
Hi @yousefelsayed, could you provide a sample project? I think it'll be useful to fix this issue faster :/

[2021-07-22 08:52] Prempriya08 commented on #407
Constraints are properly aligned. the labels have leading, trailing, top and bottom but still it occurs when we come back and froth from one screen to other.

[2021-07-22 08:55] Juanpe commented on #421
Yeah, made sense :) I've created a branch with a possible fix. I think it'll be enough.

Please, could you point to this branch to check if the problem is solved?
The branch is `bug/set_skeleton_off_before_transition`, so if you are using Cocoapods, you should replace the current line for this one:
[code]

[2021-07-22 08:57] Juanpe commented on #407
mmm... 🤔 this is another thing, so the problem is when you push/present another view and come back, doesn't it?

[2021-07-23 06:06] p-nicolaou commented on #421
I can confirm that the problem is solved under the branch `'bug/set_skeleton_off_before_transition'`

Good catch. :)

[2021-07-23 07:18] ndraiman commented on #279
@tbaranes solution doesn't work for me.
I tried on v1.21.0

[2021-07-23 10:17] Juanpe commented on #421
Great! I'll create a new version that includes this fix. Thanks for your help 🤙🏼

[2021-07-23 11:09] p-nicolaou commented on #421
Thank you for taking the time looking into this

[2021-07-23 13:58] Juanpe commented on #421
Version **[1.21.2](https://github.com/Juanpe/SkeletonView/releases/tag/1.21.2)** has been released 🚀

[2021-07-23 13:58] #421 closed

[2021-08-01 09:02] devshamzi opened #424 "Height for Section : Skeleton Table"
### Table Section Height

I have a tableView with. a different section with custom height. So, how I can set the same height for the skeleton tableView?

#### Attachments:

![IMG_2300](https://user-images.githubusercontent.com/81440999/127765458-e3ef4ca3-b4e1-458a-818c-84d82bd6dba3.jpg)

[2021-08-02 10:39] Juanpe commented on #424
Hi @devshamzi, it's not possible to define more than one header height. This could be a good enhancement. I'll add it to the backlog. Feel free to create a PR with a solution :)

[2021-08-05 10:11] Ludotrico opened #425 "User shimmer animation without making a view skeletonable"
Is it possible to do this?

[2021-08-05 19:37] #425 closed

[2021-08-08 18:06] remlostime commented on #422
I didn't see this api introduce simulate the content func? @Juanpe

[2021-08-09 21:05] ankitagarwal007 opened #426 "The UILabel doesn't consider the font line height while showing skeleton"
### Description

The UIlabel takes the line-height of either the height constraint or the line SkeletonViewAppearance.multilineHeight
It doesn't consider the font line height as considered in UITextView. This is causing issues in the ios 12 version as the text behind the skeleton is visible. Also on versions >=13.0 the font line height is not considered so all the labels are of the same height

##

[2021-08-10 16:30] Juanpe commented on #426
Hi @ankitagarwal007, thanks for opening this issue. I can't reproduce it 🤔
I realized that you're using version 1.8.2and the latest version is **1.21.2**. Please, could you update the dependency? I think this issue is already solved :)

[2021-08-10 16:55] ankitagarwal007 commented on #426
@Juanpe  I have mentioned the wrong version. I am using the latest version 1.21.2.
I dug a Lil deeper and I found that if I use a color from color. xcassets it is replicating and  if I use any color directly than it is showing fine but with a fixed height of SkeletonViewAppearance.multilineHeight

I have tried it on 12.2 iPhone X, and I have also raised a PR for the fix. If you see the PR we haven

[2021-08-10 21:06] Juanpe commented on #426
It's so weird 🤔 could you provide me a simple project?

[2021-08-11 07:15] ankitagarwal007 commented on #426
[SkeletonDemo.zip](https://github.com/Juanpe/SkeletonView/files/6966547/SkeletonDemo.zip)
@Juanpe Attached a simple project

[2021-08-12 15:27] literallysofia opened #428 "Possibility to align multiline skeleton view"
Hello! 👋

I've been using this framework for a few months now and came across the following scenario while working on a project:

We have a screen with a vertical stack view aligned in the view's center. This stack has some labels with more than one line and with text **center** aligned. When using skeleton views on these labels, it looks kind of wrong because the last line (when not filling 100%)

[2021-08-12 15:59] Juanpe commented on #428
Hi @literallysofia!

Wow, TBH I didn't realize yet 😅 Well, I think it could be a great feature 👍🏼

About the approaches...I really like the second approach more than the first one 👌🏼

[2021-08-13 16:18] lumangmang opened #429 "Can you provide an example of RxDataSource"

[2021-08-16 18:29] lopesmcc opened #430 "`lastLineFillPercent` doesn't work on one-line text views"
`lastLineFillPercent` by design is limited to multiline text views. It's mostly due to the following lines within the `calculatedWidthForLine` function:
[code]
I believe removing the `totalLines != 1` would be enough to enable fill percent for one-line text views, but am unsure of side-effects as I haven't tested it.

I was curious however as to why limit the skeleton view to not allow changing th

[2021-08-17 08:35] shivamsinha-quytech commented on #407
Hi @Juanpe ,

I am also facing same issue in Arabic language (Which support RTL) randomly when we switch between screens. I attached screenshots please check

In English language
![Simulator Screen Shot - iPhone 8 - 2021-08-17 at 13 57 47](https://user-images.githubusercontent.com/55876688/129692220-3755e5b7-3609-45c4-b479-58a8fb09f3cf.png)

In Arabic language
![Simulator Screen Shot - iPhone 8 -

[2021-08-17 16:47] Juanpe commented on #429
Hi @lumangmang 👋🏼

Today the library is not fully compatible with `RxDataSource`. We're working on this feature, but it's not ready yet. Meanwhile, you can create a fake `collectionview` / `tableview` that shows skeleton without using **Rx** and is hidden when data is received: /

[2021-08-17 16:56] Juanpe commented on #430
Hi @lopesmcc 👋🏼

TBH, I didn't consider this scenario until now, but I agree with you and I can find no good reasons to do that 🤔 The only important thing would be to update the README file indicating that `lastLineFillPercent` will be applied to the one-line labels as well.

Would you like to contribute? 🙂

[2021-08-17 17:49] #428 closed

[2021-08-17 17:52] Juanpe commented on #407
Hi @shivamsinha-quytech, please, could you provide a sample project?

I'm trying to reproduce it, but I can't :/
https://user-images.githubusercontent.com/1409041/129776055-27c1701b-d8e1-4bc6-96a1-5120d89e16f3.mp4

[2021-08-19 08:37] shivamsinha-quytech commented on #407
Hi Juanpe,

Thanks for quick response.

I think you are focusing only on LTR view but i am facing problem in RTL view. As my app is available in english and arabic both. So when i change the app language the semantic get changed to RTL mode and the complete screen get flipped. The issue starts happening after switching between the languages ENGLISH TO ARABIC or ARABIC to ENGLISH. It is very random

[2021-08-19 09:16] Juanpe commented on #426
Solved by #427

[2021-08-19 09:16] #426 closed

[2021-08-19 09:18] Juanpe commented on #422
Yep, you could check [this blog post](https://www.fivestars.blog/articles/redacted-custom-effects/)

Since this feature is not in the backlog I'm going to close this issue 👍🏼

[2021-08-19 09:18] #422 closed

[2021-08-19 09:19] Juanpe commented on #429
Duplicate of #370

[2021-08-19 09:19] #429 closed

[2021-08-19 09:48] Juanpe commented on #259
Hi guys, I noticed that this issue is solved in the latest version ([**1.23.0**](https://github.com/Juanpe/SkeletonView/releases/tag/1.23.0)).

You can check it using the provided sample project.
[SkeletonCrash_Fixed.zip](https://github.com/Juanpe/SkeletonView/files/7013432/SkeletonCrash_Fixed.zip)

https://user-images.githubusercontent.com/1409041/130047742-6701efb2-5824-499d-a1bb-9c854e5f0aaa.mp

[2021-08-19 09:48] #259 closed

[2021-08-19 09:49] Juanpe commented on #230
This issue is solved in the latest version ([1.23.0](https://github.com/Juanpe/SkeletonView/releases/tag/1.23.0))

[2021-08-19 09:49] #230 closed

[2021-08-19 13:56] Juanpe commented on #348
Hi @brunoccy 👋🏼

I'm going to close this issue because it's already solved

[2021-08-19 13:56] #348 closed

[2021-08-19 15:21] Juanpe commented on #293
Hi @gunapandianraj, maybe there was something wrong, but the current code releases all the elements when the skeleton is hidden.

Check the video and the screenshot with the memory graph:

https://user-images.githubusercontent.com/1409041/130095493-5ec391b0-c1b9-4372-af9f-f179e7a7b519.mp4

**Xcode memory graph focus on SkeletonView elements**
![Screenshot 2021-08-19 at 17 18 36](https://user-image

[2021-08-19 15:21] #293 closed

[2021-08-20 05:27] shivamsinha-quytech commented on #407
Hi @Juanpe,

I think now you got my point so have you any update on this or you still need sample project.

[2021-08-20 06:46] Juanpe commented on #407
Hi @shivamsinha-quytech, yep, I think the sample project would help me to reproduce and fix the issue sooner. So, could you provide me one, please? 🤙🏼

[2021-08-23 11:46] p4checo opened #445 "`skeletonPaddingInsets` is now `internal` in both `UILabel` and `UITextView`"
### Description

`skeletonPaddingInsets` is now `internal` in both `UILabel` and `UITextView` as of version `1.24.3`, following the latest "Codebase refactor", where it previously was public API.

Was this intentional or is it a case of missing `public` annotations? 😄 If intentional then I think this qualifies as a breaking change.

Thanks!

### What type of issue is this? (place an `x` in one of

[2021-08-23 11:51] Juanpe commented on #445
Hi @p4checo!

😳 you're totally right. I refactored the codebase and I missed including it as part of the API 😅

I'm going to include it :) Thanks for reporting this bug 👍🏼

[2021-08-23 11:58] #445 closed

[2021-08-23 12:02] Juanpe commented on #445
The issue was solved in version **1.24.4** 👍🏼

[2021-08-23 16:34] santieduardo opened #447 "Shimmer to a specific table view section"
I have a table view with some sections and rows. A specific row, I have a collection view that shows some data from a web service that I'd like to make a shimmer loading.

How can I do that?

[2021-08-25 16:40] XiaoxiaYao commented on #269
Yep. When you find all the cells are not displaying with `showSkeleton()`, please set the `estimatedRowHeight`. Otherwise, they won't show it!!! I think it's better to put this into README. @Juanpe Maybe a Q&A part.

[2021-08-25 16:59] Juanpe commented on #269
Hi @XiaoxiaYao, you're right. Actually, this info is already in the [README](https://github.com/Juanpe/SkeletonView#-collections) file:

![Screenshot 2021-08-25 at 18 57 24](https://user-images.githubusercontent.com/1409041/130833313-2237e5d0-34c7-4917-a7dd-13ecb1fd12ce.png)

But, yes, I agree with you that a Q&A or FAQ section could be very useful. Feel free to create it :)

[2021-08-26 07:18] RobertDresler opened #448 "Estimated height doesn't consider `tableView(_:estimatedHeightForRowAt:)`"
### SkeletonView Environment:

**SkeletonView version:** 1.24.4
**Xcode version:** 12.5.1
**Swift version:** 5.4.2

#### Steps to reproduce:

1. Set estimated height based on `indexPath` in `tableView(_:estimatedHeightForRowAt:)` method of `UITableViewDelegate`

#### Expected result:

SkeletonView will use this height as height for row. You can either implement taking estimated height for row from

[2021-08-30 06:43] Juanpe commented on #448
Hi @RobertDresler, I'm working on a solution for this. I'll let you know when it's ready 👍🏼

[2021-08-31 16:18] Juanpe commented on #424
Hi @devshamzi, in your case, the row height is defined or you are using `automaticDimension`?

[2021-08-31 16:20] Juanpe commented on #407
Hi @shivamsinha-quytech, could you create the sample project? 🙂

[2021-08-31 18:05] devshamzi commented on #424
Hi @Juanpe ,
I have set the row height as a static value.

`func tableView(_ tableView: UITableView, heightForRowAt indexPath: IndexPath) -> CGFloat {
       if IndexPath.row == 0{ return  174
       }else {
            return  256
        }
    }`

But this delegate method is not executing when SkeletonView isActive.

[2021-09-05 13:58] selanthiraiyan commented on #430
@Juanpe
Hello, Hope you are doing well.
I have created a PR to add the change that was suggested by @lopesmcc. I have tested this by altering the labels and textviews in the `iOS Example`'s `Main.storyboard` file. As far as I understood the code, this change doesn't break anything else. Kindly let me know your thoughts.
Thank you!

[2021-09-07 12:04] ghadeermohameedelmahdy opened #450 "what about applying skeleton view pod with Swiftui views?"
# SkeletonView Feedback

You can use this template to give us structured feedback or just wipe it and leave us a note. Thank you!

## What have you loved?

_eg "the nice colors"_

## What was confusing or gave you pause?

_eg "it did something unexpected"_

## Are there features you'd like to see added?

_eg "SkeletonView should be compatible with SwiftUI"_

## Anything else?

_eg "have a nice day

[2021-09-08 16:19] ankitagarwal007 opened #451 "useFontLineHeight property not working as intended"
### Description

After the introduction of useFontLineHeight, and  setting it true it is still not considering fontlineHeight.

 var lineHeight: CGFloat {
        let constraintsLineHeight = backupHeightConstraints.first?.constant ?? SkeletonAppearance.default.multilineHeight

        if useFontLineHeight,
           let fontLineHeight = font?.lineHeight {
            return fontLineHeight > const

[2021-09-08 16:23] ankitagarwal007 opened #452 "Global setter for useFontLineHeight for whole App"
### Describe the feature or problem you’d like to solve

Currently, useFontLineHeight needs to be set on individual UILabel and UItextView and doesn't have a global property to set for the whole app.

### Proposed solution

SkeletonAppearance should have a property so that setting once will take for all UILabels and UItextviews in the whole App

How will it benefit SkeletonView and its users?

###

[2021-09-09 05:36] Juanpe commented on #451
Hi @ankitagarwal007, you're right but I think it makes sense, I mean, if the font line height is bigger than the label's frame, we should use the label frame in order to avoid visual issues.

We already discussed about that here #353

WDYT?

[2021-09-09 05:37] Juanpe commented on #452
Hi 👋🏼 yep, I think this could be a good point 👌🏼

Thanks

[2021-09-09 07:39] #430 closed

[2021-09-09 20:51] taejun-kurly opened #453 "Vertically center alignment for UILabel's text."
## Description

Basically, `UILabel`'s text is vertically center aligned _(unlike `UITextView`)_. Even if it's multi line or not.
However, Skeleton layer in `UILabel` is always top aligned.

Therefore I propose to change Skeleton layer in `UILabel` to be vertically center aligned.
I think it would be more natural than now.

Thanks.

## Screenshots

- Skeleton layer (top aligned)
  <img width="391"

[2021-09-14 05:14] #452 closed

[2021-09-14 05:16] Juanpe commented on #453
Hi @taejun-kurly, good point! I'll add it to the backlog 👍🏼

[2021-09-16 00:40] selanthiraiyan commented on #453
Hello @taejun-kurly,
This is a great point and thanks for raising an issue.
Could you kindly let me know the steps to make the View (UILabel in this case) and SkeletonView layer visible at the same time? Just like [this screenshot](https://user-images.githubusercontent.com/62317409/132759966-a02ed2ab-7f0a-4887-bac6-c436e0917751.png) from your [comment above](https://github.com/Juanpe/SkeletonView/

[2021-09-17 07:01] shivamsinha-quytech commented on #407
Hi @Juanpe sorry for late response.
Please find sample project for reference.

For recreate problem
Step 1 :- launch app
Step 2:- change language from setting icon
and you got the problem

[SampleProjectForSkeleton.zip](https://github.com/Juanpe/SkeletonView/files/7183126/SampleProjectForSkeleton.zip)

Thanks

[2021-09-20 05:23] shivamsinha-quytech commented on #407
Hi @Juanpe

 any update on this ?

Thanks

[2021-09-20 10:42] kerimovscreations opened #455 "UILabel width skeleton fill problem"
### Description

Skeleton fills 50% of the label's line if it is single line.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/Skeleto

[2021-09-21 09:29] selanthiraiyan commented on #455
Hello @kerimovscreations :wave:

Are you setting `lastLineFillPercent` as `50` for this label?

Please note that `lastLineFillPercent` will also be applied to single line labels as well. Kindly refer to the table, in this section of README - https://github.com/Juanpe/SkeletonView#-texts
More info - https://github.com/Juanpe/SkeletonView/issues/430

BTW, the default fallback value for `lastLineFill

[2021-09-21 10:23] kerimovscreations commented on #455
Hello @selanthiraiyan

I didn't set any value for the property `lastLineFillPercent`. I agree it can be `70` (I measured objectively by my glance).

Thanks for the response, I guess it causes extra parameters for every single label to set the gradient width to fill the full space.

[2021-09-21 10:33] selanthiraiyan commented on #455
You can [change the default appearance value](multilineLastLineFillPercent) from `70` to `100` by doing the following.

`SkeletonAppearance.default.multilineLastLineFillPercent = 100`

Of course, you can customise (override) this value for specific labels and textviews if needed, by changing the `lastLineFillPercent` value of those individual views.

[2021-09-22 05:06] kerimovscreations commented on #455
Thanks for the tips!

[2021-09-22 05:06] #455 closed

[2021-09-22 05:18] Juanpe commented on #455
Thank @selanthiraiyan for the answers 👍🏼

[2021-09-23 09:54] farismhmd1 commented on #348
i am getting the same issue in latest version also.

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x21c6ca98c __exceptionPreprocess
1  libobjc.A.dylib                0x21b8a39f8 objc_exception_throw
2  CoreFoundation                 0x21c5e71c8 -[NSOrderedSet initWithSet:copyItems:]
3  CoreFoundation                 0x21c6d01d4 ___forwarding___
4  CoreFoundation

[2021-09-24 08:52] shivamsinha-quytech commented on #407
Hi @Juanpe

any update on this ?

Thanks

[2021-09-26 01:18] alongotv commented on #450
Although this might sound as a temporary workaround, you can wrap a skeletonable UIView as UIViewRepresentable and use it directly from SwiftUI code.

[2021-09-26 11:20] boungly commented on #283
Hello @oguzveozturk

I also work on the UI programmatically, and in my case also on UITableViewCell, But I face a problem with the layout during animating as the layout keeps jumping.

![image](https://user-images.githubusercontent.com/25840592/134805499-aa5abd32-708a-4455-acf1-ada16e27d893.png)

[2021-09-27 13:15] kou-yamamoto opened #457 "how to use with RxSwift"
### Describe the feature or problem you’d like to solve

- Is there any way to use SkeltonView with RxSwift

### Additional context

- Please let me know if there is a people who use SlektonView with RxSwift.

[2021-09-30 15:05] YuriFuze opened #458 "Set custom number of lines on a skeleton label"
### Describe the feature or problem you’d like to solve

When we have a label with dynamic heights and set its number of lines to 0 the view loses the ability to draw the lines simulating a text. Instead it works as a normal view skeleton and fills the entire label frame.

### Proposed solution

You could add a variable to set a custom number of lines on SkeletonView instead of calculating it base

[2021-10-03 14:08] squandev opened #459 "The appearance of skeletons is visible when the View Controller is displayed"
### Description

When a view controller appears, in which subviews are specified using constraints, the skeleton's appearance animation is visible

### What type of issue is this?
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonV

[2021-10-03 20:31] squandev commented on #459
At the moment, the only solution I have found is to call the function in DispatchQueue.main.async

[2021-10-04 14:31] maadlog commented on #424
Hi @Juanpe! I'd love to work on this one if it's available

[2021-10-05 08:58] Juanpe commented on #424
Hi @maadlog! yeah, all yours :)

[2021-10-12 08:10] Zeno1995 opened #461 "More customizable gradient"
Hello,
I need to create a skeleton with a tighter gradient, my advice is to allow the user to init SkeletonGradient directly with a color array, this way he can initialize the object with more colors for a fully customizable gradient.

In this way for example:
From SkeletonGradient.Swift:26
`gradientColors = [baseColor, baseColor, secondary, baseColor, baseColor]`

I don't know if I already have t

[2021-10-13 12:52] maadlog commented on #424
Hi @Juanpe, PR submitted 😄. Please let me know if there is something i missed on the process. Thanks in advance!

[2021-10-22 16:23] literallysofia opened #462 "Revise `useFontLineHeight` to also contemplate attributed text"
### Describe the feature or problem you’d like to solve

Currently, `useFontLineHeight` is used to determine how we want to define the height of a text's skeleton view (per line). The logic present at `SkeletonTextNode:41` is a bit confusing and sensitive to edge cases. First, the variable `constraintsLineHeight` doesn't make sense to fallback to a constant in case there are no height constraints.

[2021-11-04 06:51] Juanpe commented on #462
Hi @literallysofia 👋🏼

Thanks for this awesome investigation 👏🏼 I agree with you that the current code couldn't be working fine and the result couldn't be the desired 😕

The current code is there to prevent using a font height bigger than the frame. For instance, a label with a font size of 40pt and the height defined by the frame (constraints) is 30px. In this case, the library decides to use 30

[2021-11-08 14:11] N-ihad commented on #80
why is this closed?

[2021-11-09 20:55] SoprachevAK opened #463 "TableView's insetGrouped style not work"
### Description

Describe your issue here.

### What type of issue is this?
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) and have done my best effort to follow them.
* [x] I've read and agree to

[2021-11-09 20:56] FrolovNV commented on #463
Same problem

[2021-11-12 09:01] lanserxt opened #464 "skeletonCornerRadius is not in SkeletonViewAppearance"
Hi,

### Description
skeletonCornerRadius exists in docs
[code]

but doesn't exists in

[code]

[2021-11-15 17:45] Najamus opened #465 "Does not work on multiple cell of tableview with different section"
My tableView have 2 section each section have different TVCell but when I pass cell identifier differenton the base of section its always get section 0 and show only 0 section cell as Skelton view.

in second case if a TVCell contain a collectionView same thing happed.

[2021-11-15 18:35] #465 closed

[2021-11-16 18:27] dsk1306 commented on #279
I've tried @tbaranes's solution but I keep getting this error
[code]
so I guess it doesn't really work. Does anyone know another way to make SkeletonView work with diffable data sources?

[2021-11-23 10:06] Juanpe commented on #462
Hi @literallysofia 👋🏼

I've created this PR to improve this feature. https://github.com/Juanpe/SkeletonView/pull/466

[2021-11-23 11:39] literallysofia commented on #462
Hi @Juanpe !!

Sorry for the late reply. Thanks for picking this up 👌 Definitely an improvement!

[2021-11-23 12:52] Juanpe commented on #462
Great! I'm going to close this issue. Feel free to open a new one if you find something related :)

[2021-11-23 12:52] #462 closed

[2021-11-23 13:34] KhusanM opened #467 "When my app updated , The first default UI is appearing and then animation is working"
https://user-images.githubusercontent.com/86423467/143032973-f7b4a0b0-f7be-44a6-bcd0-ada9cb681f87.mp4

[2021-11-23 13:38] Juanpe commented on #467
Hi @KhusanM 👋🏼

Please could you provide more info about the version that you are using, how are you showing the skeleton...Because it's impossible to solve this issue :/

[2021-11-23 13:44] KhusanM commented on #467
Xcode version 13.1

[2021-11-23 13:47] KhusanM commented on #467
Xcode version 13.1
my code

import UIKit
import SkeletonView

class OrderVC: UIViewController {

    @IBOutlet weak var segmentController: UISegmentedControl!{
        didSet{
            let titleTextAttributes = [NSAttributedString.Key.foregroundColor: UIColor.white]
            let titleextAttributes = [NSAttributedString.Key.foregroundColor: UIColor.gray]
            segmentController.setTitle

[2021-11-23 13:50] KhusanM commented on #467
[OrderVC.swift.zip](https://github.com/Juanpe/SkeletonView/files/7588436/OrderVC.swift.zip)

[2021-11-23 13:50] KhusanM commented on #467
please help me!

[2021-11-30 14:49] peterpaulis opened #468 "automaticDimension is ignored, only estimatedRowHeight is used as Height"
### Description

The height of the skeleton cell should be calculated using autolayout based upon it's content, but the cell has always the height from estimatedRowHeight, no matter when providing delegate or rowHeight == UITableView.automaticDimension

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [X] enhancement (feature request)
- [ ] question
- [ ] documentatio

[2021-11-30 15:02] Juanpe commented on #468
Hi @peterpaulis 👋🏼

Yep, you're right. Now, SkeletonView neither calculates the height of the cells nor considers the value provided by the delegate.

There is an open PR to allow to specify the height for each cell. #460

[2021-12-01 16:58] peterpaulis commented on #468
i believe this to be a very important feature... as you can display the table with different kinds of cells, have the skeleton cell match the content (like when you have a text size setting) or have random skeleton content (which changes the height)... looking forward for this to be added to main

[2021-12-08 19:31] PlayDevelop opened #469 "HideSkeleton() does not apply transition within a UITableView"
### Description

The transition is broken when doing HideSkeleton(transition: .crossDisolve(TIME)) when the views is within a UITableView.

Same thing in Example app.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ X ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [

[2021-12-09 03:06] inickt opened #470 "`skeletonPaddingInsets` with `multilineLastLineFillPercent` in centered label is misaligned"
### Description

It appears the behavior for center aligning the skeleton in a multiline label with padding is not properly aligned.

I am updating from 1.9 and noticed a slight regression. I started trying to come up with a fix to submit a PR but am not sure I have the right solution and am out of time to investigate for now.

### What type of issue is this?
- [x] bug
- [ ] enhancement (feature r

[2021-12-11 18:55] ahmedkoshek commented on #457
@kou-yamamoto Did you find a way to use SkeletonView with RxSwift?

[2021-12-12 01:16] kou-yamamoto commented on #457
@ahmedkoshek I dound this `https://github.com/anyoptional/RxSkeleton` but was archived.

[2021-12-14 15:23] khose commented on #377
No idea, but in any case, from the beginning it's wrong to have a collection inside a tableview.

[2021-12-16 12:24] qs991011 opened #471 "The example can to work. it show "'/System/Library/Frameworks/SkeletonView.framework/SkeletonView' (no such file)" errors"
thany you supply so Exciting project. My xcode is 13, and swift 5.

[2021-12-17 06:34] hyo961015 commented on #471
I found this error message.
This error is when running as a device.

The solution is following these steps.

step 1. open "iOS Example" project
step 2. "Target" -> "General"
step 3. change "Do not Embed" to "Embed & Sign" in "Frameworks, Libraies, and Embedded Content"

You can use it!

[2021-12-17 11:41] qs991011 commented on #471
yeah, it solve my problem. thank tou very mouch. I am so stupid.

[2021-12-17 11:41] #471 closed

[2021-12-27 02:00] mzying2013 opened #473 "Notification triggered multiple times"
### Description

Version: 1.26.0
File: SkeletonFlowHandler.swift
Line: 18
Bug: .skeletonWillAppearNotification will  triggered multiple times in  different life cycle methods.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

[2021-12-30 17:57] tomcheung commented on #279
@dsk1306 It looks like SkeletonView will swap to its own datasource for showing skeleton, so you need to hideSkeleton() before you call `.apply()` on DiffableDataSource

[2022-01-07 06:32] efalloon opened #474 "TextView Line Corner Radius Issue"
I cannot set a line corner radius on a textview using the `.linesCornerRadius` function programatically. However, when I apply the said corner radius on storyboards, it works.

[2022-01-07 14:43] Juanpe commented on #473
Hi @mzying2013 👋🏼

Yeah, you're right. I'm going to create a PR with the fix 👍🏼

[2022-01-07 15:34] JacksonJang commented on #474
I solved issue

link : https://github.com/Juanpe/SkeletonView/pull/475

[2022-01-07 15:40] Juanpe commented on #474
Hi @efalloon 👋🏼

I've checked this issue and I can't reproduce this issue. I mean, in the example project, if I set programmatically the corner radius, it works.

[2022-01-07 15:48] Juanpe commented on #458
Hi @YuriFuze 👋🏼

Sorry for the late response. I like the idea, so I'm going to include it in the backlog 👍🏼

[2022-01-07 15:49] Juanpe commented on #469
Hi @PlayDevelop 👋🏼

You're right, I'm going to add it to the backlog to fix it asap 👍🏼

Thanks

[2022-01-07 15:55] #473 closed

[2022-01-07 16:05] Juanpe commented on #470
Hi @inickt 👋🏼

Sorry for the late response. I'm going to check it! Thanks 👍🏼

[2022-01-07 16:06] #451 closed

[2022-01-07 16:17] Juanpe commented on #407
Sorry for the late response. I'm going to check it asap 👍🏼 Thanks for the sample project

[2022-01-07 16:18] inickt commented on #470
Thanks! If you need any help let me know, I'd be happy to dig in a bit more and open a PR but didn't have the bandwidth before.

[2022-01-07 16:21] Juanpe commented on #470
Yes, if you want, feel free to dig in more, I'd really appreciate it 🙂

[2022-01-07 16:27] Juanpe commented on #448
Duplicate #424

[2022-01-07 16:28] Juanpe commented on #448
I'm going to close this issue because it's duplicated with #424

Thanks

[2022-01-07 16:28] #448 closed

[2022-01-07 16:28] Juanpe commented on #468
Duplicate of #424

[2022-01-07 16:28] #468 closed

[2022-01-07 16:29] Juanpe commented on #461
Hi @Zeno1995

Let me investigate about this feature 👍🏼

[2022-01-08 06:52] efalloon commented on #474
`descriptionTextView.isSkeletonable = true
descriptionTextView.showSkeleton(usingColor: .tertiarySystemFill, transition: .crossDissolve(1))
descriptionTextView.skeletonCornerRadius = 5
descriptionTextView.lastLineFillPercent = Int.random(in: 30..<75)
descriptionTextView.skeletonLineSpacing = 12.5
descriptionTextView.isScrollEnabled = false`
This is what my code currently looks like. Everything wor

[2022-01-08 06:53] efalloon commented on #474
`descriptionTextView.isSkeletonable = true
        descriptionTextView.showSkeleton(usingColor: .tertiarySystemFill, transition: .crossDissolve(1))`
`descriptionTextView.skeletonCornerRadius = 5
        descriptionTextView.lastLineFillPercent = Int.random(in: 30..<75)
        descriptionTextView.skeletonLineSpacing = 12.5
        descriptionTextView.isScrollEnabled = false`
This is what my code cu

[2022-01-08 08:55] Juanpe commented on #474
Ok, the problem is that you are not using the right property. You have to use `linesCornerRadius`. Your code would look like this:

[code]

BTW, I think I should clarify this in the README file because it looks confusing

[2022-01-08 10:21] #470 closed

[2022-01-08 12:47] Juanpe commented on #407
I've checked this issue in your sample project using the latest version (1.27.0) and it seems it's fixed. Could you take a look please?

|RTL| LTR|
|-----|----|
|<img width="200px" src="https://user-images.githubusercontent.com/1409041/148644491-89be2b83-b828-4775-bd48-3c2ab94d769d.png" />|<img width="200px" src="https://user-images.githubusercontent.com/1409041/148644493-bb10c725-bf8d-4989-8040-7

[2022-01-08 12:52] Juanpe commented on #464
I'm going to close this issue because it's solved 👍🏼

[2022-01-08 12:52] #464 closed

[2022-01-10 08:17] Juanpe commented on #447
Hi @santieduardo 👋🏼

You can show the skeleton in whatever view you want. So, I don't have the details of your code but you should launch the skeleton inside the cell view. For example:

[code]

[2022-01-10 10:10] Juanpe commented on #458
Hi @YuriFuze, this change has been included in [version **1.28.0**](https://github.com/Juanpe/SkeletonView/releases/tag/1.28.0).

You can check more details in the PR #479

[2022-01-10 10:10] #458 closed

[2022-01-10 10:23] #461 closed

[2022-01-10 12:13] Juanpe commented on #350
Hi @mrReason1984, please, could you try again using the latest [**version (1.29.0)**](https://github.com/Juanpe/SkeletonView/releases/tag/1.29.0)?

[2022-01-10 15:31] YuriFuze commented on #458
Awesome!

[2022-01-10 15:32] #459 closed

[2022-01-10 15:43] Juanpe commented on #193
Hi there! this issue is already fixed since [version 1.15.0](https://github.com/Juanpe/SkeletonView/releases/tag/1.15.0).

This is the sample project provided by @gloryluu. You can check that the warning doesn't appear 👍🏼
[Viblo-TableView-master.zip](https://github.com/Juanpe/SkeletonView/files/7840009/Viblo-TableView-master.zip)

Feel free to open a new issue if you find any issue 🙂

[2022-01-10 15:43] #193 closed

[2022-01-10 15:49] Juanpe commented on #457
I'm working on a version compatible with RxDataSource. When it's ready I'll create an example app to show how it works :)

[2022-01-10 15:49] Juanpe commented on #457
Duplicate of #370

[2022-01-10 15:49] #457 closed

[2022-01-10 16:04] Juanpe commented on #396
I'm going to close this issue since this feature is not included in the roadmap yet 👍🏼

[2022-01-10 16:04] #396 closed

[2022-01-10 16:45] Juanpe commented on #450
Hi!

Since this feature is not in the backlog I'm going to close this issue, ok? 👍🏼

[2022-01-10 16:45] #450 closed

[2022-01-10 16:51] Juanpe commented on #279
Hi guys! I see there is a workaround, right? Please, could you provide an example code or gist with this workaround to help other users with the same problem? Thanks

[2022-01-11 12:06] Juanpe commented on #467
Hi @KhusanM, could you update to the latest version (1.29.1) the library and take a look at this issue, please?

[2022-01-11 12:08] #288 closed

[2022-01-11 16:12] Juanpe commented on #447
So, could we close this issue?

[2022-01-11 16:14] #474 closed

[2022-01-11 16:16] #447 closed

[2022-01-17 10:11] shipinev commented on #469
Hey @Juanpe. First of all, thank you for this easy-to-use library. Do you have any update on the issue fix?

[2022-01-17 10:39] Juanpe commented on #469
Thanks, @shipinev. Not yet, sorry :/

[2022-01-18 13:33] dtamiazzo opened #482 "Crash in version 1.26 with textLineHeight = .relativeToFont"
### Description

Hi all,
we're experiencing a crash with the new version of the library (1.26.0) with the SkeletonAppearance with textLineHeight = .relativeToFont. The app crashes with "NSMutableRLEArray objectAtIndex:effectiveRange:: Out of bounds" when calling layoutSkeletonIfNeeded if the UILabel to Skeletonize has nil text or is empty.

### What type of issue is this? (place an `x` in one of t

[2022-01-18 13:55] Juanpe commented on #482
Hi @dtamiazzo 👋🏼 Thanks for reporting this issue.

Good catch! I'll fix it asap 👍🏼

[2022-01-18 14:20] #482 closed

[2022-01-18 14:24] Juanpe commented on #482
This fix was fixed in the [**version 1.29.2**](https://github.com/Juanpe/SkeletonView/releases/tag/1.29.2). Thanks for reporting 👍🏼

[2022-01-18 23:09] SoprachevAK commented on #463
@Juanpe, I'm use clear project from latest main branch

https://user-images.githubusercontent.com/13734096/150033229-0377dc8c-7915-49da-926c-304263682927.mov

[2022-01-19 04:13] JacksonJang commented on #469
I fixed!
Please check this solution.
https://github.com/Juanpe/SkeletonView/pull/484

[2022-01-21 10:48] jDomenech commented on #321
Hello, I just tried to implement it in a collection view using compositional layout and the skeleton seems to work fine (it appears properly) but the method cellForItemAt of the collectionView is never called; so after calling hideSkeleton() the cells never get updated (already tried using reloadData()).

[2022-01-21 10:53] JacksonJang commented on #321
@jDomenech
Hello, I'm Jackson.
I'd like to help you with your problem.

So give me your source code example!

[2022-01-21 11:07] jDomenech commented on #321
Hello,

Thanks for the reply and the help.

So basically use a uicollectionview using compositional layout. Before loading the data I call showAnimatedSkeleton():

func fetchData() {
        collectionView.showAnimatedSkeleton()
        viewModel.loadData()
    }

The setup of the collectionview is:

func setUpCollecionView() {
        collectionView.delegate = self
        collectionView.dataSour

[2022-01-21 13:03] JacksonJang commented on #321
@jDomenech
Thank you for the answer

It's hard for me to check error section
So, Please upload your example project to github repository and then share for us

[2022-01-21 14:18] jDomenech commented on #321
Hi again,

The problem was that the hideSkeleton() was not performed in the main thread… Sorry for the inconvenience.

Thanks!

[2022-01-21 14:21] JacksonJang commented on #321
I'm glad it's resolved !
Have a good day
@jDomenech

[2022-01-22 10:07] tomcheung commented on #279
Here is the testing code, base on @tbaranes solution

[code]

[2022-01-25 22:03] andrewfirsenko commented on #206
Try set skeletonTextNumberOfLines

[2022-01-26 08:22] NilayDagdemir opened #486 "Could not find module 'SkeletonView' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator on M1 Chip"
### Description

SkeletonView fails when try to run my ui tests via fastlane command on a Mac Mini with M1 chip.

### Issue Type
- [x] bug
- [x] enhancement (feature request)
- [x] question

### Requirements
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) and have done my best effort to follow them.
* [x] I've read and

[2022-02-01 09:50] torycons opened #487 "The complementary color in Gradient color is not changed after updating the application theme"
### Description

The complementary color in Gradient color is not changed after updating the application theme

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](

[2022-02-08 11:51] realkimmy opened #489 "`SkeletonView` doesn't work for me"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [X] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2022-02-09 18:32] alexookah opened #490 "UnSwizzleLayoutSubviews should not have a delay."
Hello,
I happened to have another infinite loop issue with swizzle methods. I remember I had fixed this in the past with adding the unSwizzle methods.
https://github.com/Juanpe/SkeletonView/pull/381

In order to fix my new issue which was trying to show a floatingKeyboard right after hidingSkeletonView. I think that the unSwizzle method occurs too late.

The swizzle delay 0.01 maybe makes sense to

[2022-02-09 19:17] alexookah commented on #490
Added a MR to remove the async delay for unSwizzle methods
https://github.com/Juanpe/SkeletonView/pull/491

[2022-02-10 08:50] alexookah commented on #490
I was thinking, maybe the async+delay should also be removed from the swizzle methods in case the hideSkeletonView is run immediately after showSkeletonView

[2022-02-14 13:12] #489 closed

[2022-02-15 07:42] steve7688 commented on #463
I had the same problem.I use inset grouped tableview from a storyboard. there are two custom cells.
skeleton still working when I call hideSkeleton() method. @Juanpe

[2022-02-20 11:27] jazminebarroga opened #492 "UIButton image and UILabel text do not get removed when skeleton is shown in iOS 12 and iOS 11."
### Description

UIButton image and UILabel text does not get removed when skeleton is shown in iOS 12 and iOS 11. It works perfectly on iOS 13 and above.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [X] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [X] I've read a

[2022-02-21 10:17] wfs498121294 opened #493 "isHiddenWhenSkeletonIsActive is not work"
I set like this, but it is not work, the button  is not hiden
       button.isHiddenWhenSkeletonIsActive = true
        button.isSkeletonable = true

[2022-03-03 11:18] iOSDias commented on #428
@Juanpe Hello, did you realize first approach? It is necessary to make multiline center align according to design

[2022-03-07 05:27] anishparajuli555 commented on #272
@Juanpe , any solution/quick fix for this? This looks like an issue with the library where it can't clear out the skeletonview after the view disappears from the screen.

[2022-03-09 01:23] Capotasto commented on #486
@NilayDagdemir Have you solved this problem? I'd like to use latest version of brew's cocoapods instead of using `Rosetta` or `arch -x86_64` .

[2022-03-15 11:57] rserentill commented on #487
I'm having the same problem. Do we have a fix/workaround for it?

[2022-03-21 07:59] artgoncharov opened #495 "layoutSubviews swizzling causes an infinite loop"
### Description

layoutSubviews swizzling causes issues for UIKit.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/

[2022-03-21 08:03] artgoncharov commented on #490
Hello, I have a sample to reproduce the issue here: https://github.com/Juanpe/SkeletonView/issues/495
Unfortunately looks like swizzling by itself breaks the internal logic of UIKit

[2022-03-21 11:06] alexookah commented on #490
When Skeleton is active and you try to show a floating keyboard it will produce infinite loop.

In order to avoid this and you want to show a floating keyboard do it after stopping the skeleton Animation with a delay 0.02 seconds. (work-around)

[2022-03-21 12:40] artgoncharov commented on #490
I know that it produce an infinite loop, that's why I've opened the issue :)
Unfortunately, yours _workaround_ it's not a workaround, I have a modular app, some part of the screen still loading but another one it ready for the interaction. Why one part should block another one? That's the main reason why we all should avoid swizzling in production

[2022-03-21 20:12] check4ismail commented on #495
Hey @artgoncharov ,

Would you be able to include your code on here? If not, feel free to share code that mimics the issue. It'll help further narrow down the issue to figure out what's going on. Thanks!

[2022-03-21 20:13] artgoncharov commented on #495
Hello @check4ismail I've attached the sample project in the description. I will dup the link here [Sample project](https://github.com/Juanpe/SkeletonView/files/8313823/SkeletonSwizzlingFailure.zip)

[2022-03-21 20:58] check4ismail commented on #495
Hey @artgoncharov ,

Here's what I've done so far:
- Downloaded your sample project
- Instead of using Cocoapods, went with Swift Package Manager (my preferred package manager)
- Ran the app using the an iPad Pro 11-inch (3rd generation) simulator running iOS 15.2

I wasn't able to replicate the issue and was able to pull up the keyboard as expected from Textfield after tapping the **Toggle Skelet

[2022-03-21 21:02] artgoncharov commented on #495
@check4ismail just to make sure, did you set up the floating keyboard before? Also, run the app in slide over mode (check the vid). BTW, you can use _Reproduce Infinite Loop_ button. Thank you in advance!

[2022-03-21 21:25] check4ismail commented on #495
@artgoncharov ,

Appreciate you mentioning those things as well. And correct, I was able to do the following at the same time: 1) type onto the Textfield using a floating keyboard, 2) make sure the app is running in slide over mode

If you're curious about the sequence of events here it is below:
- Run app
- Change app view mode to slide over mode
- Change keyboard to floating
- Tap on `Reproduce

[2022-03-22 07:12] artgoncharov commented on #495
I think we need someone else to try. I just tried to reproduce on a fresh install and I'm still able to reproduce.

[2022-03-22 12:52] Juanpe commented on #495
Hi! I've downloaded the project and I can reproduce this issue. I'm not exactly sure what it's happening 🤔

The steps to reproduce it are:
- Run app
- Change app view mode to slide over mode
- Change keyboard to floating
- Toggle skeleton
- When skeleton is active, tap on the text field.
- The memory starts to increase exponentially.

https://user-images.githubusercontent.com/1409041/159485994-b0e

[2022-03-22 12:55] artgoncharov commented on #495
@Juanpe it's an infinite loop :) if you remove this swizzling https://github.com/Juanpe/SkeletonView/blob/main/SkeletonViewCore/Sources/Internal/UIKitExtensions/UIView%2BSwizzling.swift#L34 you won't get this issue

[2022-03-22 13:06] Juanpe commented on #495
Yeah, exactly, but the question is what is the cause of this infinite loop 😅 I can see that when the keyboard appears, some constraints are broken and it seems could be the cause 🤔

[2022-03-24 08:16] JackTheTapper commented on #495
Hi, any news on this? Im seeing the same thing, when updating collectionviews and am eager to hear how we can aviod this loop

[2022-03-25 00:42] thecavilnator commented on #487
I am experiencing the same issue.

[2022-03-25 00:45] thecavilnator commented on #392
I am also experiencing this issue.

[2022-03-31 21:49] Dolphin54rus commented on #487
#496 My fix option

[2022-04-15 10:40] jowinst commented on #331
Super useful! Thank you all for your comments, solved here too ✅

[2022-04-19 13:45] chanonly123 opened #498 "How to override or use skeleton view for custom view?"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ ] bug
- [ ] enhancement (feature request)
- [ x] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [ x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md)

[2022-04-19 15:01] #350 closed

[2022-04-19 15:01] #407 closed

[2022-04-19 15:01] #467 closed

[2022-04-19 15:01] #463 closed

[2022-04-21 15:24] tomcheung commented on #463
@Juanpe Can you take a look on that?

[2022-04-22 13:08] pastorin commented on #370
Hi @Juanpe ,
Is there any update regarding this open request?

[2022-04-24 10:05] ChoshimWy opened #499 "Demo is error"
![image](https://user-images.githubusercontent.com/15668221/164971273-99ac8800-b4b0-4c54-b5a9-fe2c3e861fbc.png)

[2022-05-19 03:46] gloryluu commented on #370
Anything new guy ?

[2022-05-24 09:58] iZeDeveloper opened #500 "Skeleton View is not expanding labels to full width available even after user layoutIfNeeded"
<img width="413" alt="Screen Shot 2022-05-24 at 2 55 33 PM" src="https://user-images.githubusercontent.com/528785/170005138-9af0f0c7-70a0-445f-aa64-4fd1f7aae895.png">

Please have a look, i made a temporary cell to test this out. nothing fancy in there. simple labels, and i marked them as skeletonable.

[2022-05-24 10:15] iZeDeveloper commented on #500
<img width="404" alt="Screen Shot 2022-05-24 at 3 15 19 PM" src="https://user-images.githubusercontent.com/528785/170008769-51615519-d837-4d24-8b1d-c0b99c539b15.png">
Changing every time i click (atleast first 2 times).

[2022-06-01 04:02] lshinkuro opened #501 "How to implement SkeletonView in custom section table view ?"
### Describe the feature or problem you’d like to solve

A clear and concise description of what the feature or problem is.

### Proposed solution

How will it benefit SkeletonView and its users?

### Additional context

Add any other context like screenshots or mockups are helpful, if applicable.

[2022-06-01 16:37] antonyfrolov opened #502 "Don't working at M1 chip"
### Description

Pod with SkeletonView don't working at M1 chip.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/ma

[2022-06-05 09:39] codingiran commented on #463
@Juanpe Same pronlem , if tableView is set to .insetGroup style, all cells are Wrapped by UITableViewWrapperView( _wrapperView). Maybe this cause the problem, hope can solve it. Thanks a lot!

[2022-06-13 16:21] KirilSivokoz opened #504 "UICollectionViewCompositionalLayout with orthogonal section breaks skeletonable chain"
### Description

Hey!

We are using your awesome lib with UICollectionView for quite a while and everything was just perfect before we decided to migrate to UICollectionViewCompositionalLayout. Specifically, we have one section that has `orthogonalScrollingBehavior` set to `.continuous`.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ x ] bug
- [ ] enhancement (feature requ

[2022-06-24 18:25] SwiftFoxx commented on #502
@antonyfrolov
Didn't find the error.

- [x] Installed the dependency
- [x] Launched .xcworkspace
- [x] Hit ⌘ + B

Build successful.

[code]

Did you try reinstalling with `pod deintegrate` > `pod install` or `pod install --clean-install`?

[2022-06-29 13:34] albyok commented on #486
Got the exactly same problem. Is there a way to fix it?

[2022-07-11 04:56] lionsom opened #506 "SkeletonView already supports OC"
In order to make [SkeletonView](https://github.com/Juanpe/SkeletonView) support OC, I made some modifications so that SkeletonView can be used normally on OC.

https://github.com/lionsom/SkeletonView

[2022-07-11 14:17] rjuzaszek commented on #492
I can reproduce it with all of the iOS versions for labels, any update on this?

[2022-07-14 08:47] mzying2013 commented on #58
Any updates on this?

[2022-07-16 02:14] Capotasto commented on #486
@albyok I was using the SkeltonView via Swift Package but it looks like there is not way to build with M1 mac. So I just change it to CocoaPods with the below code in Podfile.

[code]

[2022-08-01 07:50] mozkayaInv commented on #348
Hi @Juanpe ,
When I execute showAnimatedGradientSkeleton for tableView, I'm getting many crashes. I think it is related to this issue.

- My skeletonView version is 1.29.2
- Most crashes I get on iOS 14.X.X, iOS 13.X.X versions.

Fatal Exception: NSInvalidArgumentException
-[UIPlaceholderColor initWithDynamicProvider:]: unrecognized selector sent to instance 0x2802b1660

    Fatal Exception: NSInv

[2022-08-08 11:14] wohral commented on #486
Got the same problem. Any progress with solving this bug?

[2022-08-11 19:03] Juanpe commented on #486
Hi mates! Now, [`SkeletonView` supports **XCFrameworks**](https://github.com/Juanpe/SkeletonView-XCFramework). Please, could you check if the problem is solved using XCFramework instead?

Thanks!

[2022-08-12 09:39] wohral commented on #486
Thank you. It works! :)

[2022-08-12 10:36] Juanpe commented on #486
Great! So, I'm going to close this issue. Feel free to open a new one if you face another problem  😉

[2022-08-12 10:36] #486 closed

[2022-08-12 21:34] elomonaco commented on #377
sometimes it can't be helped, I have a case where I need to show photos like facebook does in their app.

[2022-08-17 06:36] Juanpe commented on #506
Hi @lionsom, would you like to include this development in **SkeletonView**?

Thanks

[2022-08-17 06:40] Juanpe commented on #502
Hi @antonyfrolov! could you try to do what @SwiftFoxx suggested to you?

Using CocoaPods, you shouldn't get any problems. BTW, SkeletonView already supports XCFramework via SPM, so feel free to try it.

Thanks

[2022-08-17 06:42] Juanpe commented on #499
Hi @ChoshimWy, the example is working fine. This error seems to be related to the DerivedData or your swiftlint version.

[2022-08-17 06:43] #499 closed

[2022-08-17 06:45] Juanpe commented on #498
Hi @chanonly123, sorry for the late reply.

You can do it, just setting as skeletonable the custom views and the individual items as NOT skeletonable. Please, refer to the [**Hierarchy**](https://github.com/Juanpe/SkeletonView#-miscellaneous) section for more details.

Thanks

[2022-08-18 09:11] osmanyesilinvio opened #508 "Crash(showAnimatedGradientSkeleton) [UIPlaceholderColor initWithDynamicProvider:]: unrecognized selector sent to instance"
### Description

Recently I started getting NSInvalidArgumentException crash inside closure when using showAnimatedGradientSkeleton method. Information about the crash is as follows. When I execute showAnimatedGradientSkeleton for tableView, I'm getting many crashes. I think it is related to this issue.

This crash is the only one where have more iOS 13 (14%) than iOS 14 (86%).

### What type of i

[2022-08-24 12:43] DHLau commented on #211
Anyone find any solution to fix this bug?

[2022-08-25 12:14] muhammedgul commented on #493
It only works when you both set `button.isHiddenWhenSkeletonIsActive = true` and also pass the view you want to hide to `showSkeleton(for:)`.

[2022-08-25 12:15] muhammedgul commented on #493
It only works when you both set button.isSkeletonable = true and also pass the view you want to hide to show method like: showSkeleton(for: button)

[2022-08-29 06:43] #498 closed

[2022-08-30 06:04] lionsom commented on #506
@Juanpe Hi, thank you for your reply, I will commit a branch as soon as possible.

[2022-09-03 05:39] #502 closed

[2022-09-05 07:26] #487 closed

[2022-09-05 07:28] Juanpe commented on #508
Hi @osmanyesilinvio!

Just to know, why do you reload the tableView after show the skeleton? 🤔

[2022-09-05 07:28] Juanpe commented on #506
Thanks! I'm going to check it asap 👍🏼

[2022-09-07 03:24] xygkevin commented on #211
+1

[2022-09-07 04:33] xygkevin opened #510 "crossDissolve animation not working"
### Description

Describe your issue here.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) an

[2022-09-07 09:54] adelbios opened #511 "Skeleton Layout bug"
sometimes  this happens I have no idea what's going on
![IMG_3991](https://user-images.githubusercontent.com/16545509/188849289-8afc6d20-9c37-4212-917d-eb1c9e768ed5.jpg)

[2022-09-07 11:49] tsangaris commented on #279
Hi there Juanpe, there should be a dedicated section in the Readme where it states how to use it with DiffableDataSource as this package is very helpful and versatile!

Thanks!

[2022-09-07 11:58] Juanpe commented on #279
Hi @tsangaris 👋🏼 Yeah, I think it's a good idea. Would you like to do it? If not, I will add it ASAP 👍🏼

[2022-09-08 07:03] tsangaris commented on #279
@Juanpe I just switched to DiffableDatasource, so I will need some time to learn how to use it and proceed with Skeleton views. I am just working proactively, so I need to make sure I can switch the skeleton views as well.

I am not sure how long its going to take, but if i have something ready i will let you know. Or if you have something that can help us, please post it :wink:

[2022-09-14 05:56] #508 closed

[2022-09-14 21:26] tsangaris commented on #279
@tomcheung thank you for taking the time to write this example. Just a question: What if I want to show a different number of skeleton items in each section? For example:

"Section 1": show 4 skeleton items
"Section 2": show 6 skeleton items
"Section 3": show 1 skeleton item

Also, what if I want each section to have a different layout of skeleton item?

Is there a way I can access the dataSource'

[2022-09-19 19:47] ersun opened #512 "IOS 16.1 crash"
### Description

iOS 16.1 beta version crashed

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [ x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements (place an `x` in each of the `[ ]`)
* [x ] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.

[2022-09-20 11:51] Jenishshah2311 opened #513 "Bit Code is not enabled when We use Repo with package manager."

[2022-09-22 09:49] Juanpe commented on #512
Hi @ersun, added it to the backlog 👍🏼

[2022-09-22 09:53] Juanpe commented on #513
Hi @Jenishshah2311, Bitcode is deprecated from Xcode 14, right?

BTW, you can use the [XCFramework](https://github.com/Juanpe/SkeletonView-XCFramework) instead

[2022-09-22 09:54] Juanpe commented on #511
Hi @adelbios 👋🏼

It's weird, but I would need more info to check what it's happening :/

[2022-09-22 11:11] Jenishshah2311 commented on #513
Ohh.. I seen.. thanks for clarification it is very useful thing to developer.

[2022-09-22 11:11] #513 closed

[2022-10-02 05:45] #511 closed

[2022-10-04 06:46] ersun commented on #512
is there any news?

[2022-10-06 06:58] septynade opened #517 "SkeletonCell Disappears"
### Description

I have a skeletonized tableView that runs/animates fine in its first animation, but on its second animation (API call) the skeletoncells shown are only one or two cells, and sometimes zero cells.

### What type of issue is this? (place an `x` in one of the `[ ]`)
- [x] bug
- [ ] enhancement (feature request)
- [x] question
- [ ] documentation related
- [ ] discussion

### Requirem

[2022-10-06 12:56] markos92i opened #518 "UILabel with attributedText loses the text after changing isHidden"
### Description

An skeletonable UILabel that we set an attributedText to loses it ending up with " " (a white space) for text instead of the previously contained text, resulting in that when that label is shown again via isHidden = false, the previous text is not shown.

The moment that UILabel is changed to NON skeletonable it works as expected.

Reproduced in iOS 16 with SkeletonView 1.30.2

##

[2022-10-11 17:12] raymondwelch33 opened #522 "macOS & watchOS support?"
### Describe the feature or problem you’d like to solve

I would like to see skeleton view become truly universal library with both `macOS` & `watchOS` support.

### Proposed solution

Many users also have `macOS` & `watchOS` development projects.

### Additional context

Not sure if already support Mac Catalyst but it should... very popular Apple library..

[2022-10-20 10:59] #518 closed

[2022-10-20 19:25] guidev opened #523 "UILabel not working on 1.30.4"
### Description

Describe your issue here.

### What type of issue is this?
- [x] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [ ] discussion

### Requirements
* [x] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/blob/main/CONTRIBUTING.md) and have done my best effort to follow them.
* [x] I've read and agree to

[2022-10-20 20:24] hiagochagas opened #524 "UILabels not respecting constraints"
Hello, I'm fetching data from API, and while it's happening, the skeleton looks like this:

![Simulator Screen Shot - iPhone 13 - 2022-10-20 at 17 13 25](https://user-images.githubusercontent.com/36018185/197048888-f5d90c12-1c2c-42fb-b8c7-66cd1eeb614a.png)

When it should look like this:
![Simulator Screen Shot - iPhone 13 - 2022-10-20 at 17 12 41](https://user-images.githubusercontent.com/3601818

[2022-10-27 10:13] RSafargalin opened #525 "Custom headers/footers"
### Description

Need table delegate methods to work with custom headers and footers:

[code]

P.S. Or tell me how to do it right. Thank you!

### What type of issue is this?
- [ ] bug
- [ ] enhancement (feature request)
- [ ] question
- [ ] documentation related
- [x] discussion

### Requirements
* [ ] I've read and understood the [Contributing guidelines](https://github.com/Juanpe/SkeletonView/b

[2022-10-28 11:11] arturdev commented on #523
The same with UITextField....

[2022-11-04 02:39] eatwhales opened #526 "pod yogakit"
The Cell is drawn with yogakit and the SkeletonViewCell control frame is 0

[2022-11-04 14:43] qLag commented on #523
Same bug here with UILabel

[2022-11-08 20:44] mafaqcs commented on #211
Not working for both collectionView and tableView

[2022-11-14 15:24] sprzenus commented on #523
Same bug. I've never seen this before. Had to lock used version to 1.30.3

[2022-11-14 21:00] javikr commented on #523
Same here. Locked pod version to 1.30.3

[2022-11-16 02:56] zkfpk6 commented on #524
same here, i don't know why, must call [self layoutIfNeeded] before showSkeleton, and i'm already set the label's default text..sorry for my english

[2022-11-16 03:02] zkfpk6 commented on #524
omg i think i have find the answer, set 'view.isSkeletonable = true' both view and view's container view, and call 'container.showAnimatedGradientSkeleton' can fix this🎉🎉🎉

[2022-11-23 03:53] farrasdoko commented on #458
Hi @Juanpe

I have tried using `label.skeletonTextNumberOfLines = 1` but the compiler told me that `Value of type 'UILabel' has no member 'skeletonTextNumberOfLines'`. Then I tried looking for `UILabel+SKExtensions.swift` file on Podile/SkeletonView but found nothing. I am using v 1.13.0.

[2022-11-23 08:02] farrasdoko commented on #458
Ah sorry, I am using v 1.13.0 instead of 1.30.0 and the `skeletonTextNumberOfLines` property is defined on v 1.28.0 thats why I didn't find it.